[2017-09-21 15:00] arizzi opened #6 "Investigate parallel running"
multiatream seem not fast

[2017-09-21 15:00] arizzi opened #7 "unclustered met uncertainties"
need to add unclustered met uncertainties

[2017-09-21 15:01] arizzi opened #8 "Rivet analyses"
Investigate rivet stuff

[2017-09-21 15:03] arizzi opened #9 "Higgs simplified analysis"
(edited)
add the per-event bin number for Simplified Templated Cross sections

[2017-09-21 15:03] arizzi opened #10 "tk met"

[2017-09-21 16:12] arizzi opened #11 "Review FatJet & SubJet with B2G"
There were requests to store additional SubJets rather than just softdrop.

It should be clarified if this is really needed and/or if the time to compute them from MiniAOD is too slow.

[2017-09-22 10:34] gpetruc commented on #9
I think @dsperka had the code for computing that, maybe he can help?

[2017-09-22 10:49] dsperka commented on #9
The instructions/code to do that is here:

https://twiki.cern.ch/twiki/bin/view/CMS/HiggsTemplateCrossSection

It is not completely inside standard CMSSW, since it depends on Rivet. Is that a problem for the nanoAOD?

[2017-09-23 13:27] perrozzi commented on #8
The idea is to add GEN collections obtained via Rivet cfr https://github.com/cms-sw/cmssw/pull/18402

[2017-09-23 14:31] arizzi commented on #8
is there a standard set of rivet collections?
or each analysis need something different

[2017-09-25 15:15] perrozzi commented on #8
standard. @intrepid42 can you please some tests/integration?

[2017-09-25 15:17] perrozzi opened #14 "which PDF set to use?"
are 103 replicas ok?
91200 | PDF4LHC15_nnlo_100_pdfas | 103
(@kdlong fyi)

[2017-09-25 15:41] arizzi commented on #6
It seems we mostly wait for Input data.

Thread efficiency at 4thread is ~70% and it goes down to  38% with 8 threads
http://arizzi.web.cern.ch/arizzi/stall1.pdf
http://arizzi.web.cern.ch/arizzi/stall2.pdf

Most likely the sweet spot would be around 2-3 threads with current level of CPU usage in the NanoAOD processing.
If we insert in the sequence much more stuff (e.g. reclustering) we may have a

[2017-09-25 15:41] #6 closed

[2017-09-25 15:44] arizzi commented on #8
do you have a sequence to run rather than the unscheduled?
should we consider the config in release good for all?
@kreczko you said there were multiple configurations that is in contrast with what @perrozzi states above.
Can we please clarify this point.

[2017-09-25 15:46] arizzi commented on #11
cms-sw/cmssw#20638 should address the needs in input.
waiting for the miniAOD PR to close the issue
(the NanoAOD part is anyhow already available here:
https://github.com/rappoccio/cmssw/commit/42440dbc05408522e964df0f7a16e5976e4e53cf )

[2017-09-25 15:46] arizzi commented on #10
#13 implements it

[2017-09-25 15:48] arizzi commented on #9
@perrozzi
is this part

`git cms-merge-topic -u perrozzi:HTXS_clean`

of the recipe still needed or the needed stuff has been integrated already?

[2017-09-25 15:49] arizzi opened #15 "Implement legacy config via Eras"

[2017-09-25 15:59] rappoccio commented on #11
What other subjets? Pruned? Soft drop with beta = 1? beta = 2?

[2017-09-25 16:04] arizzi commented on #11
@clelange  suggested it on the spreadsheet. I think pruned

[2017-09-25 16:05] arizzi commented on #11
and how about Hbb tagger?

[2017-09-25 16:06] rappoccio commented on #11
Hbb is also using soft drop, I thought... In the last few years the only taggers other than soft drop beta=0 is soft drop with beta=1 for moderately boosted top quarks, unless I missed something?

@clelange, any ideas here?

[2017-09-25 16:07] arizzi commented on #11
I mean Hbb tagger needs to be precomputed... should we run it on MiniAOD or while making NanoAOD?

[2017-09-25 16:08] rappoccio commented on #11
For the Hbb discriminator I think adding it to miniAOD would be better, if we can afford it. I don't think it is so computationally intensive, right?

[2017-09-25 16:10] arizzi commented on #11
I guess not... the only point against is that it is still a developed and retrained thing... perhaps they want more flexibility than "once every reminiaod"

[2017-09-25 16:11] rappoccio commented on #11
Good point... I suppose we can add it in, and if things are retrained we will just have to recompute each re-nanoAOD.

[2017-09-25 16:11] clelange commented on #11
Regarding subjets:
- The two soft-dropped ones (beta = 0) should do for analyses targeting boosted W/Z, Hbb and probably also top, if one does not want to resolve the W from the top. For H->WW->4q one would want to have 4 subjets (which are at least the result of the splitting of one of the two initial subjets)

For Hbb:
- I expect it to be retrained, so being able to rerun it at nanoAOD level wou

[2017-09-25 16:12] arizzi commented on #11
btw they need the tau axis, do we have them stored in miniaod or should we recluster to get them?

[2017-09-25 16:16] rappoccio commented on #11
@clelange: Can we not just get away with storing tau4/tau3  or tau4/tau2? Do we really need the splitting of the W subjets? It will be very expensive to do this, if only one analysis may or may not use it, it won't be worthwhile to keep it.

@arizzi we don't store the tau axes... we would have to run XCone or something like that.

[2017-09-25 16:17] perrozzi commented on #9
I would say this is all, should be in cmssw already and was used to produce a few results too so validated.
@dsperka can confirm

[2017-09-25 16:19] arizzi commented on #11
I'm not sure how they do it in the pfBoostedDoubleSVAK8TagInfos
@ferencek can you comment on the Hbb needs?

[2017-09-25 16:26] clelange commented on #11
@rappoccio To be pragmatic, let's store the first two subjets only, since they are needed for subjet b-tagging studies. For the others the taux/y values will probably do.

Regarding the Hbb tagger, it took me quite some effort to rerun it without full CMSSW since one needs the B field etc. - see
https://github.com/CERN-PH-CMG/cmgtools-lite/blob/80X/VVResonances/src/CandidateBoostedDoubleSecondaryV

[2017-09-25 16:31] arizzi commented on #11
for Hbb I've some config in VHbb-heppy
https://github.com/vhbb/cmssw/blob/vhbbHeppy80X/VHbbAnalysis/Heppy/test/combined_cmssw.py#L314

I can try to import from there

[2017-09-25 16:33] arizzi commented on #9
@perrozzi I do not see it in recent IB ... when was it integrated?

[2017-09-25 16:46] perrozzi commented on #9
you are right, maybe was never integrated... I will prepare the rebase to master

[2017-09-25 16:54] arizzi opened #16 "Link to trigger objects"
do we need it? in the spreadsheet is not marked as implemented @gpetruc do you confirm?

[2017-09-25 16:54] arizzi opened #17 "Missing variables for electrons"
track deltaPt?
what else?

[2017-09-25 16:56] arizzi opened #18 "Complete secondary vertex infos"
-pointing angle
-links to jets?
-linking to mc
-mc truth? (we do not have in miniaod more than link to gen...)

[2017-09-25 16:56] arizzi opened #19 "Neutrinos in gen jets"
do we need to support both w/ and w/o neutrinos pT?

[2017-09-25 19:32] ferencek commented on #11
The Hbb double-b discriminator is already being stored in slimmed AK8 jets and can also be re-run from MiniAOD. So if needed, it could be easily re-run as part of re-NanoAOD. The tau axes are computed internally on-the-fly so there is no need to store them in MiniAOD.

[2017-09-25 19:44] arizzi commented on #11
thanks dinko, I'll add the existing float!

Il 25 set 2017 9:33 PM, "Dinko Ferencek" <notifications@github.com> ha
scritto:

[2017-09-25 19:56] arizzi commented on #11
pfBoostedDoubleSecondaryVertexAK8BJetTags right?

[2017-09-25 20:05] intrepid42 commented on #8
Hi, there is some flexibility but I think we can use the [standard settings](https://github.com/cms-sw/cmssw/blob/master/GeneratorInterface/RivetInterface/python/particleLevel_cfi.py), I would just lower the jet pt to 20 GeV, then most analyses should be covered. I can make a pull request for that.

[2017-09-25 20:16] ferencek commented on #11
@arizzi, yes

[2017-09-25 22:40] gpetruc commented on #14
switching to this thread, to nake @perrozzi happy (or to avoid BEING YELLED AT). adding @bendavid.
* 100 replicas is a lot in terms of disk space and burden to analyzers, for the purpose of propagating them through 10B events.
* a proposal that doesn't cover the higgs group doesn't make a lot of sense to me since besides precision measurements (which won't be covered by any reduced set of weights)

[2017-09-26 08:36] bendavid commented on #14
Using PDF4LHC as the default uncertainties also implies asking everyone by default to reweight the central value from nnpdf3.1 to pdf4lhc (which could be fine for most use cases, but is an additional complication)

Yes, agreed with the previous comment that a subset can make sense for MC replicas, but it was planned to switch to the hessians for the default in CMS since this is more flexible in te

[2017-09-26 09:15] gpetruc commented on #14
On Tue, Sep 26, 2017 at 10:36 AM, Josh Bendavid <notifications@github.com>
wrote:

generating with pdf4lhc would have been the sensible thing to do, but
anyway reweighting the central is something trivial to do and that we could
also do centrally in nanoAOD.

Yes, agreed with the previous comment that a subset can make sense for MC

I know, that's why I'm advocating for pdf4lhc15_nnlo_30 for 2017

[2017-09-26 09:19] gpetruc commented on #14
adding @dsperka @nucleosynthesis @giacomoortona to get info about what's needed for higgs combinations

[2017-09-26 09:31] bendavid commented on #14
As far as I know the ordering the of the MC replicas is random for all sets which use MC replicas.  We can ask the authors.

As a reminder, we do also have the means to convert the 100 MC replica weights in existing 2016 samples to hessian weights with an arbitrary number of eigenvectors (with of course the accuracy of the uncertainty estimate degrading if the number gets too small).  There is an

[2017-09-26 09:58] gpetruc commented on #14
On Tue, Sep 26, 2017 at 11:31 AM, Josh Bendavid <notifications@github.com>
wrote:

Can you dig out a pointer?
We could use that with 60 for 2016 data, it's probably more practical than
50 replicas.
From the pdf4lhc15 note, mc2Hessian doesn't work terribly well with small
number, so maybe we can't push it down to 30 (their 30-component hessian
uses meta-pdf), and it still doesn't address 2016-2017

[2017-09-26 10:03] bendavid commented on #14
https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/HepMCCandAlgos/plugins/PDFWeightsTest.cc

(the corresponding csv files with the conversion matrix are also in the cmssw release)

[2017-09-26 15:33] kreczko commented on #8
@arizzi @intrepid42
I was simply concerned about the final jet collections.
If the lepton pT cuts vary per analysis, then the jet collections will as well.

That said, I am all in favour of standardization, so I would follow whatever @intrepid42 suggests.

[2017-09-26 15:47] intrepid42 commented on #8
Indeed, leptons with pt>15 are considered lepton candidates right now, and are not clustered into the jets. That is fine for low pt analyses but not really for high-pt...

Or we set `excludePromptLeptonsFromJetClustering = cms.bool(False),` and do/advise a dR cleaning?

[2017-09-26 15:56] kreczko commented on #8
If it is as simple as dR cleaning (I thought the clustering did more complex things), then we can use NanoAOD's masking mechanism for the default leptons
and everyone not using the default would have the possibility to clean against their leptons.

[2017-09-26 15:59] intrepid42 commented on #8
The current default is `excludePromptLeptonsFromJetClustering = cms.bool(True),`, so the leptons are excluded from jet clustering.

Reading the option name again, I see that this applies only to *prompt leptons* (=not from hadron decay), so we will still cluster all those from heavy hadron decays into the jets.

Should be fine to leave it like that as default option then!

[2017-09-26 16:01] arizzi commented on #8
if you set
`excludePromptLeptonsFromJetClustering = cms.bool(False)`

how would that differ exactly from normal GenJets ?

[2017-09-26 16:25] intrepid42 commented on #8
~~The normal GenJets still exclude muons from W~~

I checked again and see that `slimmedGenJets=ak4GenJetsNoNu`, so that unholy exclusion of muons from W was discarded :)

So, indeed, with `excludePromptLeptonsFromJetClustering = cms.bool(False)` we would have `RivetJets=GenJets` (modulo the cuts). If it is decided to just go for GenJets, we would still need the hadron-based flavor information ass

[2017-09-26 16:29] arizzi commented on #8
I think we added in miniAOD the hadronFlavour so in principle this should be available without reclustering

[2017-09-27 16:43] arizzi opened #24 "hadron flavour in gen jets"

[2017-09-27 17:22] arizzi opened #26 "check memory usage and basket size"

[2017-09-28 02:45] perrozzi commented on #9
https://github.com/cms-sw/cmssw/pull/20683

[2017-09-29 12:26] arizzi opened #27 "request for QGL input from SUSY"
to be understood

[2017-09-29 13:31] arizzi commented on #7
@zdemirag @seemasharmafnal

[2017-09-29 13:34] arizzi commented on #7
@zdemirag can you post an example to access it or even directly send a PR on this repository against nano_94X branch?

[2017-09-29 13:39] zdemirag commented on #7
generic usage is: met.shiftedXyz(uncertainty, level)

* xyz can be: Pt, P2, P3, P4, Px, Py, Pz, Phi, SumEt
* uncertainty can be: http://cmsdoxygen.web.cern.ch/cmsdoxygen/CMSSW_8_0_11/doc/html/db/deb/classpat_1_1MET.html#a5c8ea7c9575730bedb6f1639140a7422
* level can be:
http://cmsdoxygen.web.cern.ch/cmsdoxygen/CMSSW_8_0_11/doc/html/db/deb/classpat_1_1MET.html#a266ab5a1249b3b428162c633a02c95a9

a fu

[2017-10-02 11:58] arizzi commented on #26
this should fix

+++ b/PhysicsTools/NanoAOD/plugins/NanoAODOutputModule.cc
@@ -258,6 +258,8 @@ NanoAODOutputModule::openFile(edm::FileBlock const&) {
   // create the trees
   m_tree.reset(new TTree("Events","Events"));
   m_tree->SetAutoSave(std::numeric_limits<Long64_t>::max());
+  m_tree->SetAutoFlush(-10000000);
   m_commonBranches.branch(*m_tree);

[2017-10-02 11:59] arizzi commented on #26
<pre>
[6] run: 1 lumi: 1447 event: 1093182  vsize = 1401.12 deltaVsize = 0.75 rss = 845.723 delta = 1.11328
[344] run: 1 lumi: 1447 event: 1093521  vsize = 1463.12 deltaVsize = 61.5 rss = 930.508 delta = 84.7852
[6365] run: 1 lumi: 3191 event: 2412714  vsize = 1565.38 deltaVsize = 98 rss = 1028.16 delta = 97.6562
[12730] run: 1 lumi: 11759 event: 8889682  vsize = 1586.62 deltaVsize = 15.25 rss = 1

[2017-10-02 13:51] arizzi commented on #26
#30

[2017-10-03 15:35] gpetruc commented on #7
closing, as it's addressed by #31 and the discussion is happening there

[2017-10-03 15:35] #7 closed

[2017-10-03 15:36] gpetruc commented on #15
addressed in #25

[2017-10-03 15:36] #15 closed

[2017-10-03 15:39] gpetruc opened #33 "update muon ID after #20612 is merged in CMSSW"
https://github.com/cms-sw/cmssw/pull/20612

[2017-10-03 15:53] gpetruc commented on #10
I'll merge #13 (so that we have something for tests), and re-open the issue so that we remember to follow up once #20655 will be merged and available in a release

[2017-10-04 15:51] #26 closed

[2017-10-06 09:47] gpetruc opened #41 "muon scale corrections"
should we apply them? (saving also the factor to go back, as for muons)
which ones?

@drkovalskyi  @folguera

[2017-10-06 09:58] gpetruc opened #42 "investigate JEC uncertainties via weights"
try computing weights as function of ptreco/ptgen instead of shifting ptreco

[2017-10-06 10:08] drkovalskyi commented on #41
Most physics analyses won't benefit the muon scale corrections. I don't think we should apply them by default, but it can be useful to provide them as a correction factor that anyone can add. Can we store it as one more float per muon?

[2017-10-06 10:10] arizzi commented on #42
ttHbb people tested it (to avoid redoing MEM with Jec variations) and Lorenzo says that we need to be careful about correlations when we compute the ptreco/ptgen that are lost in a simple pt,eta binning.
It was observed that e.g. dijet invariant mass was not well reproduced and the hint from lorenzo is that it could be due to different response when there are two closeby jets.

bottom line: we sho

[2017-10-06 10:13] arizzi commented on #41
are the correction computed only vs pt/eta/phi or they are function of inputs not available in nano?

[2017-10-06 10:23] folguera commented on #41
they are computed as a function of pt/eta/phi:  https://twiki.cern.ch/twiki/bin/view/CMS/MuonReferenceScaleResolRun2

[2017-10-06 10:25] drkovalskyi commented on #41
Not all the inputs are available in NanoAOD. For example one needs trackerLayersWithMeasurement. Gen pt can also be useful (not sure if you have it). Overall it's a quite special correction that is not always available quickly enough for a typical production cycle.

[2017-10-06 10:37] arizzi commented on #41
ok, then we store it (and it should be cheap enough)

[2017-10-06 10:57] drkovalskyi commented on #41
In principle we need to store two numbers: correction and uncertainty and the uncertainty requires ~100 of iterations checking different variations and propagating them. It will require some code development and getting parameters for new data. The latest one that we have is for Run2016. So it's something that we may want to have ready for legacy re-miniaod with 94X release.

[2017-10-10 16:28] gpetruc opened #44 "follow up non-deterministic beaviour"
~for e/gamma: https://github.com/cms-sw/cmssw/pull/20878~

there's also something in trigger objects and isolated tracks that appear to change slightly event by event, according to the [dqm comparison](http://nanoaod.cern.ch:8060/dqm/dev/start?runnr=1;dataset=/RelVal_MC_TTbar/CMSSW_9_4_0_pre2-test_pr_34/DQM;sampletype=offline_relval;filter=alarms;workspace=Everything;root=Physics/NanoAODDQM;refere

[2017-10-11 07:17] arizzi opened #45 "Store x1 and x2, plus add the mass for high mass gen particles"
as @azzurip suggested we should store Energy rather than Mass for GenPart so that incoming partons x1, x2 can be computed

[2017-10-11 07:31] gpetruc commented on #45
i'd rather store x1 and x2 separately.

for most of the other particles, the mass is both more practical and better
compressed.

Giovanni

Il 11 Ott 2017 09:17, "arizzi" <notifications@github.com> ha scritto:

[2017-10-11 07:37] arizzi commented on #45
another option is to store pz or energy only for particles with eta > 1000
"?abs(eta)>1000?E():0"

[2017-10-11 10:15] arizzi commented on #45
@azzurrip

[2017-10-11 10:31] azzurrip commented on #45
Ok the pz of partons at very large eta seems fine to me

[2017-10-11 10:34] arizzi commented on #45
@gpetruc do you have a definition of x1 and x2 that is good for all generators? Othwise I'd go for eta >1000 and store pz of all of them

[2017-10-11 10:34] arizzi commented on #45
I mean: are we sure that x1 and x2 can be taken from first two genparts?

[2017-10-11 11:00] gpetruc commented on #45
the x1 and x2 are in the generator block

Il 11 Ott 2017 12:34, "arizzi" <notifications@github.com> ha scritto:

[2017-10-11 11:57] azzurrip commented on #45
Would also be nice to have the incoming parton ids of the hard process.

On 11 Oct 2017, at 13:00, Giovanni Petrucciani <notifications@github.com<mailto:notifications@github.com>> wrote:

the x1 and x2 are in the generator block

Il 11 Ott 2017 12:34, "arizzi" <notifications@github.com<mailto:notifications@github.com>> ha scritto:

—
You are receiving this because you were mentioned.
Reply to this

[2017-10-11 12:00] gpetruc commented on #45
https://github.com/cms-sw/cmssw/blob/master/SimDataFormats/GeneratorProducts/interface/GenEventInfoProduct.h
--->
https://github.com/cms-sw/cmssw/blob/master/SimDataFormats/GeneratorProducts/interface/PdfInfo.h

On Wed, Oct 11, 2017 at 1:57 PM, azzurrip <notifications@github.com> wrote:

[2017-10-11 14:05] arizzi commented on #45
- mass for all => 48byte/ev
- mass for m > 1 GeV => 27 byte ev
- m >10 or (pdgId=22 && m>1) => 17byt/ev

[2017-10-12 08:09] gpetruc commented on #17
also sync heep stuff with https://github.com/cms-sw/cmssw/pull/20550#issuecomment-334402018 ?

[2017-10-12 08:10] gpetruc commented on #17
@emanueledimarco @peruzzim can one of you two pick this up?

[2017-10-17 14:24] arizzi commented on #17
@veelken also asked for additional variables

- dEta
- dPhi
- 1/clusterEnergy - 1/trackMomentum

[2017-10-17 14:30] veelken commented on #17
We need to check with EGamma experts if:
1) superCluster().eta()-eta() is the same as deltaEtaSuperClusterTrackAtVtx()
2) if track deltaPt is the same as (or equivalent to) 1/clusterEnergy - 1/trackMomentum

I will post the first question to the EGamma Hypernews.

[2017-10-17 14:45] arizzi commented on #17
@veelken nanoaod egamma experts are reading this thread, no need to post on HN

[2017-10-17 14:47] veelken commented on #17
I already posted: https://hypernews.cern.ch/HyperNews/CMS/get/egamma-elecid/123.html

[2017-10-17 14:51] emanueledimarco commented on #17
if the need is to emulate the selection at the HLT, one could use the pre-computd bit of the HLT-safe ID of [this twiki]( https://twiki.cern.ch/twiki/bin/view/CMS/CutBasedElectronIdentificationRun2#HLT_safe_selection_for_2016_data).
The bit is already saved in the nanoAOD, and it can be used in AND with any other cut-based electron ID or also to cover selections using MVA selection, to mitigate th

[2017-10-25 06:55] arizzi commented on #33
pre3 is there and the PR above is merged @emanueledimarco @peruzzim can you guys take care? (I guess we need to remove our "legacy implementation" and use new Dima's stuff)

[2017-10-25 06:56] arizzi commented on #11
@rappoccio can you prepare a PR with your
rappoccio/cmssw@42440db

[2017-10-25 10:13] arizzi commented on #10
in order to properly implement this using 20655 we need
   - at least pre3 relvals (and update cmsDriver)
   - switches to use legacy method when running on 80X and 92X

[2017-10-25 10:15] arizzi commented on #45
what is the difference between "x" and "xPDF" and which one do we want to store?

[2017-10-25 12:06] ktht opened #51 "Masses of gen particles"
Hi,

Is there a standard way to get the masses of generator level particles based on their PDG id? My first idea was to use ROOT's [TDatabasePDG](https://root.cern.ch/doc/master/classTDatabasePDG.html) class, but the database coming with the ROOT package is [outdated](https://github.com/root-project/root/blob/efbbe8f3a6a684383e21ed90883aa9be95c567a8/etc/pdg_table.txt#L310) and won't be fixed [any

[2017-10-25 13:24] rappoccio commented on #11
@arizzi Sure, where to? cms-nanoAOD? Is there a branch that is up to date with 940pre3?

[2017-10-25 13:28] arizzi commented on #11
cms-nanoAOD/master is in sync with pre3 since this morning

Il 25 ott 2017 3:26 PM, "rappoccio" <notifications@github.com> ha scritto:

[2017-10-25 14:09] rappoccio commented on #11
Done at #52.

[2017-10-27 09:05] arizzi commented on #51
see #45

[2017-10-27 09:07] arizzi commented on #51
actually this could still be relevant for low mass stable particles, but likely more in NanoAOD-tools than in NanoAOD.

[2017-10-27 09:09] arizzi commented on #51
when you say it is not updated, which relevant particles for which we would not store the mass are missing ? (I imagine, leptons, pions, B/D hadrons etc.. are there)

[2017-10-27 09:16] ktht commented on #51
All particles are there but, for instance, Higgs mass is at [80 GeV](https://github.com/root-project/root/blob/efbbe8f3a6a684383e21ed90883aa9be95c567a8/etc/pdg_table.txt#L310). I haven't cross-checked other masses.

[2017-10-27 09:27] ktht commented on #51
I think it would be possible to create a version of the PDG table and use that. But then someone needs to check if all the masses are correct. Indeed, this could be done in a post-processing step with the nanoAOD-tools.

The third option would be a histogram (or some other representation) that maps the PDG IDs to the particle masses. But I'm not sure if that's a good solution if you want to keep e

[2017-10-27 09:37] arizzi commented on #51
if you check #45 the proposal is to store masses of particles above 10GeV so Higgs is not a problem (plus a  pdgId derived mass for massive objects is useless as we often have samples with different higgs masses, exotics models, off shell particles etc..)

[2017-10-30 13:34] arizzi commented on #45
@perrozzi @bendavid can some of you clarify the difference between x and xPDF ?

[2017-10-30 15:40] gpetruc commented on #44
e/gamma is ok, but iso track and trig obj are still non-deterministic

[2017-10-30 16:17] arizzi commented on #17
@emanueledimarco @peruzzim are we set with egamma requests? IIRC deltaPt has to be added

[2017-10-31 06:57] arizzi commented on #45
#54

[2017-10-31 06:57] #45 closed

[2017-10-31 06:58] arizzi commented on #51
#54 please reopen the issue about PDGid lookup (if still relevant) under nanoAOD-tools

[2017-10-31 06:58] #51 closed

[2017-10-31 08:25] arizzi commented on #41
can you guys implement this at least for 80X-2016 sample via Era switches?
Do I understand correctly that one of the two calibration (Bachtis,Rolandi,Manca) doesn't require trackerLayersWithMeasurement hence can be computed on top on nanoaod?

[2017-10-31 08:31] arizzi commented on #41
anyhow trackLayersWithMeasurement is probably the only thing that is missing...so perhaps we can just store that (it is cheaper probably than the correction itself) and compute the correction from miniaod.

[2017-10-31 08:59] arizzi opened #57 "update btag discriminator choice, save b-tagging scale factor weights"
store csvv2, cmva, deep b+bb
instead of current set

[2017-10-31 09:22] drkovalskyi commented on #41
Both corrections are optional, i.e. not required by Muon POG and very few analyses need them. I can add it to my todo list, but realistically don't expect it to get to the top of my list anytime soon.

In general I think it would help to have some specific time lines for NanoAOD "releases". I don't see much use for it till we have MiniAOD v2. With proper planning it can be easier to find time to g

[2017-10-31 09:27] arizzi commented on #57
also add eventWeight for SF central value

[2017-10-31 09:30] arizzi opened #58 "update cmsDriver / runTheMatrix"
- add nano at the end of some short workflow
- add nano-data

[2017-10-31 09:42] arizzi commented on #57
also add DeepCSV in 80X running

[2017-10-31 13:10] #11 closed

[2017-10-31 15:59] arizzi commented on #41
I added the nTrackerLayers so we can at least run the calib in the tools (we can easily import there the existing code)

Concerning longer term it is probably best if muon pog integrates the code in the cmssw release and then we can have different payloads to be picked up when available

[2017-11-03 11:03] arizzi commented on #44
in #21  a similar effect is seen  for GenJet extension table

[2017-11-03 14:11] peruzzim commented on #27
This can probably be closed, the output of taggers using QGL inputs could be stored instead if requested.

[2017-11-03 15:28] arizzi commented on #57
#61  implements first part of this.

[2017-11-03 15:28] arizzi commented on #44
can we close now?

[2017-11-03 15:43] peruzzim commented on #17
done in #63 - can be closed when the PR is merged

[2017-11-03 15:53] arizzi commented on #24
#21

[2017-11-03 15:53] #24 closed

[2017-11-03 15:55] arizzi commented on #8
#21 merged

[2017-11-03 15:55] #8 closed

[2017-11-03 15:58] gpetruc commented on #44
let me check the dqm of the test of #63. if that shows no unexpected
changes, then yes.

On Fri, Nov 3, 2017 at 4:28 PM, arizzi <notifications@github.com> wrote:

[2017-11-03 16:04] arizzi commented on #44
is the "ref" in dqm updated when we rerun master?

On Fri, Nov 3, 2017 at 4:58 PM, Giovanni Petrucciani <
notifications@github.com> wrote:

[2017-11-03 16:11] gpetruc commented on #44
yes

On Fri, Nov 3, 2017 at 5:04 PM, arizzi <notifications@github.com> wrote:

[2017-11-03 16:36] #44 closed

[2017-11-07 10:47] peruzzim commented on #17
HEEP v7.0 added in #65 @Sam-Harper . Nothing more to add for the moment, closing.

[2017-11-07 10:47] #17 closed

[2017-11-16 15:40] arizzi commented on #18
@gpetruc should we close or do we want to at least add links to jets based on common PF candidates?

[2017-11-16 15:54] arizzi commented on #58
for existing workflows + nano, we should define a NANO step without DQM

[2017-11-17 12:14] ktht opened #71 "All tauID bitmapped branches have only two bins"
I found that the following variables are evaluated to exactly two values only -- 0 and 1 -- instead of what is expected (shown in parentheses):

- Tau_idAntiMu (0, 1, 3)
- Tau_idAntiEle (0, 1, 3, 7, 15, 31)
- Tau_idMVAnewDM (0, 1, 3, 7, 15, 31, 63)
- Tau_idMVAoldDM (0, 1, 3, 7, 15, 31, 63)
- Tau_idMVAoldDMdR03 (0, 1, 3, 7, 15, 31, 63)

In other words, it looks as if the taus can only pass VLoose w

[2017-11-17 12:56] peruzzim commented on #71
I think this was due to the bug fixed in #70.
Can you verify if the problem is still present after the fix?
From the last DQM validation of #68, it seems solved to me.

[2017-11-17 15:01] arizzi opened #72 "LHE NLO n partons"
add info for properly counting NLO nPartons

[2017-11-17 15:02] arizzi opened #73 "Fix L1 seed Pt"

[2017-11-17 21:03] ktht commented on #71
Yes, the issue is fixed indeed. Hadn't updated my local checkout for a week or so, my bad. Thanks again!

[2017-11-17 21:03] #71 closed

[2017-11-20 12:36] #33 closed

[2017-11-20 13:23] arizzi commented on #58
also add the harvesting step to the "nano only" workflows

[2017-11-21 14:53] arizzi commented on #72
#77

[2017-11-21 14:53] #72 closed

[2017-11-21 14:53] #73 closed

[2017-11-24 15:38] arizzi opened #81 "Review Jet TriggerObjects and add b-tag trigger objects"
- add LooseId jet collection
- possibly add "uncorrected" pt as additional possible layer for trigger objects
- add HLT btag information

[2017-11-27 08:01] arizzi opened #82 "crash in MergedGenParticleProducer"
we have a crash here:

#5  0x00007f6d6c89183a in MergedGenParticleProducer::isPhotonFromPrunedHadron(pat::PackedGenParticle const&) const () from /cvmfs/cms.cern.ch/slc6_amd64_gcc630/cms/cmssw/CMSSW_9_4_0/lib/slc6_amd64_gcc630/pluginGeneratorInterfaceRivetInterface_plugins.so

you can reproduce with (on lxplus) ~arizzi/public/test92X_NANO.py on 940 release + nanoaod master branch

@intrepid42

[2017-11-27 08:19] arizzi commented on #82
the issue is here:
https://github.com/cms-sw/cmssw/blob/b5ad3f4c7b4987d89bfb52258f4e2a973df6ca29/GeneratorInterface/RivetInterface/plugins/MergedGenParticleProducer.cc#L136
as mother(0) is not checked for validity

then it crashes somewhere in produce() of
https://github.com/cms-sw/cmssw/blob/a1a699103d53ed00ae87f2a2578dd7e4b6bd0b5b/GeneratorInterface/RivetInterface/plugins/GenParticles2HepMCConve

[2017-11-27 08:28] arizzi commented on #82
it looks like the sample has a fancy particle listing with only a few particles and perhaps some assumptions of the GenParticles2HepMCConverter do not hold. @perrozzi

[2017-11-27 09:39] intrepid42 commented on #82
I can confirm, fixing the problem in MergedGenParticleProducer (see below) leads to a crash in this line of GenParticles2HepMCConverter:

[code]

Using John's latest patch (https://github.com/cms-sw/cmssw/pull/21349) does not solve the problem. Does this sample even have incoming protons stored??

@jhgoh Do you have any idea? This is the input file: `root://cmsxrootd.hep.wisc.edu//store/mc/RunIISu

[2017-11-27 12:40] jhgoh commented on #82
Yes I can reproduce crash even after applying PR21349.
I was asking a parton to have |eta| > 100 (just a random large number), but in this generator, this selection was too tight to catch them.
[code]

I guess releasing eta cut will fix the problem. let me try.

[2017-11-27 13:22] jhgoh commented on #82
OK, two separate problems as pointed by @arizzi
1. missing guard in MergedGenParticleProducer
[code]

2. Tight eta cut on incident particle.
set_beam_particles() had to be commented out to avoid "Event beams mismatch"
[code]

[2017-11-27 13:35] intrepid42 commented on #82
Hi John, thanks a lot!

[code]

I think this will miss out on orphaned photons where no mother information is stored. Please see https://github.com/intrepid42/cmssw/commit/b49a38cfab0da8860cc5c90abda85f93fa606285 for my solution.

[2017-11-27 13:39] arizzi commented on #82
can you guys push the fixes in cms-sw/cmssw both for master and 94X branches?

[2017-11-27 13:53] jhgoh commented on #82
@intrepid42 I can cherry-pick this one, if it is not already in the master branch.
@arizzi I'ml pushing the change now (at least for the 2nd point to GenParticles2HepMCConverter)

[2017-11-27 14:25] intrepid42 commented on #82
Yes, please, I made the patch this morning :)

[2017-12-04 16:47] kschweiger opened #84 "ttbar categorization with the GenHFHadronMatcher"
Addition of new int event branch for [ttbar categorization using the GenHFHadronMatcher](https://twiki.cern.ch/twiki/bin/view/CMSPublic/GenHFHadronMatcher#Event_categorization_example_1).

[2017-12-11 15:54] arizzi commented on #84
#85

[2017-12-11 15:54] #84 closed

[2017-12-14 10:53] #82 closed

[2017-12-14 13:17] arizzi commented on #9
@dsperka @perrozzi now that the central PRs are merged can you prepare a PR to store this info in nanoaod?

[2017-12-15 13:27] perrozzi commented on #9
I still didn't put my hands on nano, can you please provide an example to start from?

[2017-12-15 13:33] arizzi commented on #9
docs here: https://twiki.cern.ch/twiki/bin/view/CMSPublic/WorkBookNanoAOD

you can see here different ways of creating global event variables:
https://github.com/cms-nanoAOD/cmssw/blob/master/PhysicsTools/NanoAOD/python/globals_cff.py

[2017-12-19 07:15] ktht opened #86 "Effective areas for electron isolation: Spring15 -> Summer16?"
https://github.com/cms-nanoAOD/cmssw/blob/564c740f3b595d579a012659cba71b3bf706e9b9/PhysicsTools/NanoAOD/python/electrons_cff.py#L70

Shouldn't the input txt file be updated to: `RecoEgamma/ElectronIdentification/data/Summer16/effAreaElectrons_cone03_pfNeuHadronsAndPhotons_80X.txt`?

[2017-12-19 08:21] arizzi commented on #86
@peruzzim @emanueledimarco  can you comment/fix?

[2017-12-19 08:43] peruzzim commented on #86
For miniIso we are still using Spring15 (very small difference), so for the ease of synchronization I would not change it now.
I propose we update it together with the switch to the new 94X ID, that should be ready soon.

[2017-12-20 13:14] gpetruc opened #90 "Monitor CMSSW-master branch"
We periodically need to make sure the 10_1_X (master) branch stays aligned with the 9_4_X branch.
I'm creating this github issue so that the bot can do the monitoring and use it to post integration failures.

[2017-12-21 13:49] perrozzi commented on #9
Ciao, I need some help for dummies.
so far I did this https://github.com/cms-sw/cmssw/compare/564c740f3b595d579a012659cba71b3bf706e9b9...perrozzi:nanoAOD_htxs?expand=1
i.e. added a few producer and a sequence (which was a path in the original cfg) in `globals_cff.py` and added the sequence to `nanoSequenceMC` in `nano_cff.py`
I get the error below when running the 94x example in `sh runtests.sh`,

[2018-01-15 13:02] matt-komm opened #92 "Variable length arrays in FlatTable"
Dear developers,

I like to adapt the nanoaod format for my analysis to store additional information about each jet constituent.
I am wondering if you consider to extend the FlatTable class to support arrays of variable length. Currently only single values are possible which have to be one of the following types (FloatColumn, IntColumn, UInt8Column, BoolColumn) if I am not mistaken.

[2018-01-17 07:25] arizzi opened #94 "Repeated Flag_... branches in some productions"
original mail from @mbluj

Hi Andrea,

On Fri, Jan 12, 2018 at 4:34 PM, Michal Bluj <michal.bluj@gmail.com> wrote:

On Fri, Jan 12, 2018 at 4:27 PM, Andrea Rizzi <andrea.rizzi@cern.ch> wrote:
Hi,
yes go first to cms-nanoAOD.

80X NANOAOD private-crab production is going already available (see
the WorkBookNanoAOD twiki) and first centrally produced samples are
also available here:
https://cmsweb.ce

[2018-01-17 07:28] arizzi commented on #92
how would you make persistent in bare root such format?
1D array are supported and are persisted as Object_member[n]
but if you want to store jet constituents you need to go 2D.. and I'm not sure root supports 2D variable length.

[2018-01-17 09:17] matt-komm commented on #92
Can you not store the length of the 2D array 2nd dimension in a 1D array and then flattened 2D to 1D? So in my case the tree would have an additional branch e.g. nChargedConstituents (1D array of length nJet) and an additional branch e.g. cpf_ptrel (1D array of length nJet*nChargedConstituents) which contains then the 2D array data.

[2018-01-17 09:43] arizzi commented on #92
nChargedConstituents is not the same for all jets, I doubt the size of cpf_ptrel can be nJet*nChargedConst, it could be Sum(nChargedConts).
Anyhow the access to this would be painful and very "custom".
If you want to store this info that way I suggest you just create a FlatTable of length Sum(nChargedConsts) and you fill it the way you said.

[2018-01-17 09:58] matt-komm commented on #92
that's why it is a 1D array of size nJet. Anyway I will now go with my hacky solution yet in the future it could be nice to have some convenience functions to support this ...

[2018-01-17 10:28] arizzi commented on #92
do you agree that if nChargedConstituents is not constant, and it is not, then the size of cpf_ptrel cannot be
nJet*nChargedConstituents ? (in fact such operation is not even among "scalars" because nChargedConstituents is a vector)

[2018-01-17 10:33] matt-komm commented on #92
ah sorry, I wrote it to quickly: the flattened 1D array has the size sum(nChargedConstituents[i]) for i=0..nJet

[2018-01-17 12:03] mbluj commented on #94
Hello,

for completeness: here you can find example of files with my private production with master of PhysicsTools/NanoAOD on top on 9_4_2 (*) with 80X MC as an input. The files do not consist duplicated branches. The production was performed with crab using one thread mode.

(*) https://cmsweb.cern.ch/das/request?input=file%20dataset%3D/VBFHToTauTau_M125_13TeV_powheg_pythia8/bluj-RunIISummer16Na

[2018-01-18 14:04] mbluj opened #95 "nTruePU: incorrect numeric type?"
The `nTrueInt` variable stored in the `puTable` [1] is, as its name suggests, the true mean number of the Poisson distribution of pileup interactions for the event which stored as an integer number. However, the true  (mean) number of PU interactions is not necessary an integer number and it is why the `getTrueNumInteractions()` method [2] returns a floating point number (float). Do we want store

[2018-01-18 20:06] gpetruc commented on #95
i agree, it's likely a mistake, it should bea float.

Giovanni

Il 18 Gen 2018 15:04, "mbluj" <notifications@github.com> ha scritto:

[2018-01-19 08:37] emanueledimarco commented on #95
Yes, my bad. It should be a float number.

[2018-01-19 09:28] mbluj commented on #95
OK, thanks for confirmation. Are you going to fix it?

[2018-01-19 09:37] gpetruc commented on #95
I think the fix can go in as part of #96

[2018-01-19 09:40] emanueledimarco commented on #95
Yes

[2018-01-19 09:44] emanueledimarco commented on #95
OK so @rappoccio will do it in #96 ? Thanks

[2018-01-19 14:12] rappoccio commented on #95
I will fix it in #96.

[2018-01-26 06:41] arizzi opened #98 "store N goodPVs"
in heppy we stored NPVs after goodVertex filter.
I guess most analysis are using the filter so we can store it instead of the raw PV count.

[2018-01-26 11:37] arizzi commented on #98
#99

[2018-01-26 11:37] #98 closed

[2018-01-30 07:55] arizzi commented on #90
update up to #100

[2018-01-31 08:19] #95 closed

[2018-02-01 07:39] arizzi commented on #90
updated to #101

[2018-02-01 07:48] arizzi commented on #90
failures are due to base IB not having new accessor

[2018-02-01 11:16] arizzi commented on #90
should be rerun after https://gitlab.cern.ch/cms-nanoAOD/nanoAOD-integration/pipelines/293295 is completed

[2018-02-05 12:56] veelken opened #102 "Switching config files between MC and data"
Dear all,

can you remind me how the config file https://github.com/cms-nanoAOD/cmssw/blob/master/PhysicsTools/NanoAOD/test/nano_cfg.py needs to be modified when running it on data ?

It seems to me that assumptions are made in different places in the config files (e.g. https://github.com/cms-nanoAOD/cmssw/blob/master/PhysicsTools/NanoAOD/test/nano_cfg.py#L39-L43 , but also when processing genPart

[2018-02-05 13:01] gpetruc commented on #102
The supported procedure is to generate the configuration files with cmsDriver, specifying `--mc` or `--data`.

[2018-02-05 13:10] veelken commented on #102
Hi Giovanni,

ok, but how would a user switch between MC and data in case he needs to modify https://github.com/cms-nanoAOD/cmssw/blob/master/PhysicsTools/NanoAOD/test/nano_cfg.py in order to add additional branches to the nanoAOD (e.g. for reconstructing boosted hadronic tops) ?

Thank you,

Christian

[2018-02-05 14:07] arizzi commented on #102
it is there in the comments:
https://github.com/cms-nanoAOD/cmssw/blob/master/PhysicsTools/NanoAOD/test/nano_cfg.py#L41

anyhow I'd suggest to use cmsDriver as explained in the WorkBookNanoAOD and then edit the resulting config.

[2018-02-05 14:13] veelken commented on #102
Hi Andrea,

hmh, I don't see how the comment in https://github.com/cms-nanoAOD/cmssw/blob/master/PhysicsTools/NanoAOD/test/nano_cfg.py#L41 would e.g. switch on and off the 'L2L3Residual' jet energy corrections defined in https://github.com/cms-nanoAOD/cmssw/blob/master/PhysicsTools/NanoAOD/python/jets_cff.py .

Ok, I will create 2 separate config files for data and MC, modify them, and then check

[2018-02-05 14:24] arizzi commented on #102
my understanding is that in recent CMSSW L2L3Residual for mc contains a dummy payload (with ones).

[2018-02-05 14:26] arizzi commented on #102
see the comment in the code example here https://twiki.cern.ch/twiki/bin/view/CMSPublic/WorkBookJetEnergyCorrections#CMSSW_7_6_4_and_above

[2018-02-05 14:28] veelken commented on #102
Ok, thanks!

[2018-02-05 14:28] #102 closed

[2018-02-05 14:32] arizzi commented on #102
btw, there are other changes I think in egamma code that I'm not sure are handled if you do not use cmsDriver... so I'd suggest to really use cmsDriver!

[2018-02-05 15:31] veelken opened #103 "Error messages about reclustered jets"
Hi,

when I run 'cmsRun nano_cfg.py' in CMSSW 9_4_4, I get many error messages of the type attached below [*] (about one error message per 100 events processed).
Is this expected ?

Cheers,

Christian

- - - - - - - - -

[*]

%MSG-e MissingJetConstituent:  JetFlavourClustering:genJetFlavourAssociation  05-Feb-2018 17:28:30 EET Run: 1 Event: 41829503
Jet constituent required for jet reclustering is

[2018-02-05 21:51] arizzi commented on #103
can you try with the cmsDriver version, is it the same?

[2018-02-06 08:27] veelken commented on #103
Hi Andrea,

I confirm that I get the same error when I create the config file with cmsDriver.
I send you the commands and output attached below. I am running in CMSSW 9_4_4.

Cheers,

Christian

- - - - - - - - -

cmsDriver.py test92X -s NANO --mc --eventcontent NANOAODSIM --datatier NANOAODSIM --filein file:///hdfs/cms/store/mc/RunIISummer17MiniAOD/DYJetsToLL_M-50_TuneCUETP8M1_13TeV-madgraphMLM-p

[2018-02-06 08:31] arizzi commented on #103
Hi,
are you sure the same GT is used for MC production and nanoaod?

On Tue, Feb 6, 2018 at 9:27 AM, Christian Veelken <notifications@github.com>
wrote:

[2018-02-06 08:33] veelken commented on #103
Yes, I think so. Why would the genJet reconstruction even depend on the global tag ?

[2018-02-06 09:22] gpetruc commented on #103
Hi,
Do you see this also on 94X inputs?
In 92X and older releases, I think jet flavour is re-run from miniAOD and
the code complains that this is not perfect as some gen particles are
missing (it should happen only at at large rapidity, if you have some time
you could try track down the warning and add the rapidity to the printout
to check whether it's the case).
That said, I've seen warning messa

[2018-02-06 15:20] veelken commented on #103
Hi Giovanni,

I confirm that I see the same error when running on a miniAOD file produced with CMSSW 9_4_x.
The rate of the MissingJetConstituent: JetFlavourClustering and JetPtMismatchAtLowPt: JetFlavourClustering error is still about one error per 100 events processed.

When running on 94X inputs, I get a new error [*]. The NullTransverseMomentum:   JetFlavourClustering occurs about once per 10-

[2018-02-06 15:22] arizzi commented on #103
can you post the full log?
Are you sure it is every 10 events rather than every 1000 ? (it seems we print the event number every 100 events)

[2018-02-06 15:26] arizzi commented on #103
anyhow the rate I see is compatible with the rate of warnings we have in other cmssw steps...

[2018-02-06 15:47] gpetruc commented on #103
Seems to me it comes from #21 from Markus Seidel @intrepid42 maybe Christian you can follow up with him?

[2018-02-06 16:15] veelken commented on #103
Hi,

please find attached the full log file.

I inferred the rates of occurrence by checking how often I see the different error messages as function of the number of events processed.

I see that PR #21 is about Rivet. I don’t really plan to investigate what is happening with Rivet in detail, but if you can send me something concrete to check (e.g. to disable Rivet and check if the error messages

[2018-02-07 19:01] arizzi opened #105 "b jet energy regression not working properly?"
@cvernier
it seems to me the improvements of the Jet_bReg  wrt Jet_pt are not as large as expected.
Probably we have a bug in some of the input variables.

Can you please cross check that the inputs are correct, here :
https://github.com/cms-nanoAOD/cmssw/blob/master/PhysicsTools/NanoAOD/plugins/BJetEnergyRegressionMVA.cc
and here:
https://github.com/cms-nanoAOD/cmssw/blob/master/PhysicsTools/Nano

[2018-02-08 13:26] arizzi opened #106 "new muon IDs"
do we need to include some new IDs?

[2018-02-08 14:53] mbluj opened #107 "new MVA-based Tau-Ids"
The MVA-based Tau-IDs are going to be retrained with 94X Fall17 samples and then should be evaluated using MiniAOD Taus (skimmedTaus) and added to NanoAOD.
An initial implementation, based on MVA training with 92X Summer17 samples, will be PR'ed soon (by @mbluj) to start discussion and speed revision of the final implementation.

[2018-02-08 16:35] gpetruc opened #110 "interface to PS weights in addition to scale weights"
we should add it as it seems like it will be available in most of the samples

[2018-02-15 07:47] veelken opened #112 "EGamma energy scale and resolution corrections"
Implement/merge EGamma POG recipe on twiki
https://twiki.cern.ch/twiki/bin/viewauth/CMS/EGMSmearer#ECAL_scale_and_resolution_correc

[2018-02-15 08:16] arizzi commented on #112
we should have the e/gamma code ported in  official CMSSW.
We are working on an analysis-release strategy with O&C to get this done easily

[2018-02-19 14:26] ktht opened #114 "Maybe exclude gen-level W-s and Z-s from the mass cut?"
In events where e.g. H->WW, at least one of the W-s goes to off shell, sometimes so much so that their masses drop below 10 GeV (this actually happens ~4% of the time in ttH, H->WW events). When trying to recover these masses from a lookup table, we accidentally would put such low-mass W-s on a mass shell. Why not exclude W-s (and Z-s for the same reason) from this mass-cut?

https://github.com/cm

[2018-02-19 14:59] arizzi commented on #114
yes, please make a PR whitelisting W,Z, H

[2018-02-19 15:03] veelken opened #115 "NanoAODEDMEventContent"
Hi,

I think we need to modify PhysicsTools/NanoAOD/python/NanoAODEDMEventContent_cff.py such that all the branches that we want to store in the nanoAOD are explicitly mentioned, separate for data and MC.

The issue is that when running the nanoAOD production on data, I get a run-time exception that is due to accessing some information which exists only for MC. If I understand correctly, the excep

[2018-02-19 15:12] gpetruc commented on #115
There's no `keep *`.
The only things that are kept with a wildcard are TriggerResults (which are produced by the framework) or NanoAOD specific objects.
So, this is not supposed to interfere with PAT Jet tools etc.

Can you be more specific on the problem you are observing?

[2018-02-19 15:29] veelken commented on #115
Hi Giovanni,

here is the specific error message:

Begin processing the 1st record. Run 303838, Event 2129701824, LumiSection 1820 at 19-Feb-2018 16:17:07.454 EET %MSG-e TauGenJetProducer: TauGenJetProducer:tauGenJets 19-Feb-2018 16:17:20 EET Run: 303838 Event: 2129701824 cannot get collection: InputTag: label = prunedGenParticles, instance = %MSG %MSG-w UndefinedPartonMode: HadronAndPartonSelecto

[2018-02-19 15:58] #115 closed

[2018-02-19 15:59] gpetruc commented on #115
Unscheduled execution only runs modules that are added to a task in the
process, and nothing is added by default to a task in the NanoAOD code.
So, it seems that in your cfg to be you're adding MC modules either to a
path in the schedule or to a task in the process.
Either way, it's your cfg that needs fixes, not the NanoAOD event content

On Mon, Feb 19, 2018 at 4:29 PM, Christian Veelken <notifi

[2018-02-19 21:51] ktht commented on #114
I don't think that H mass goes below 10 GeV b/c its width is O(MeV).

[2018-02-20 13:10] veelken commented on #115
Hi Giovanni,

the problem was indeed that too many modules (some of which needed generator-level information) were attached to the process object and added to Tasks. The problem was caused by a tool developed by the JetMET group ( https://github.com/HEP-KBFI/tth-nanoAOD/blob/master/python/jetToolbox_cff.py#L955-L968 ). I have contacted the authors of the tool about this.

I think it would still be

[2018-02-22 21:08] #114 closed

[2018-02-23 13:29] gpetruc opened #117 "Production crashes in RunIISummer16NanoAOD campaign"
- [HN prep-ops/4865](https://hypernews.cern.ch/HyperNews/CMS/get/prep-ops/4865.html) in [JME-RunIISummer16NanoAOD-00002](https://cms-pdmv.cern.ch/mcm/requests?prepid=JME-RunIISummer16NanoAOD-00002&page=0&shown=127) SingleNeutrino
- [HN prep-ops/4924](https://hypernews.cern.ch/HyperNews/CMS/get/prep-ops/4924.html) in [SMP-RunIISummer16NanoAOD-00147](https://cms-pdmv.cern.ch/mcm/requests?prepid=SMP-

[2018-03-13 10:02] ktht opened #118 "Filtering genVisTaus breaks gen-level matching"
`GenVisTaus` are filtered before they're written to the Ntuple, but the matching is done w.r.t unfiltered `genVisTau` collection:
https://github.com/cms-nanoAOD/cmssw/blob/fb8502caa53afe449e676a291cd1b6b4809a0c46/PhysicsTools/NanoAOD/python/taus_cff.py#L84-L86
https://github.com/cms-nanoAOD/cmssw/blob/fb8502caa53afe449e676a291cd1b6b4809a0c46/PhysicsTools/NanoAOD/python/taus_cff.py#L114-L116
https:

[2018-03-13 11:50] ktht commented on #118
Apparently, the same issue applies to gen-level jets as well (e.g. 8th reco jet in event `1:5883:9974904` of the same file):
https://github.com/cms-nanoAOD/cmssw/blob/fb8502caa53afe449e676a291cd1b6b4809a0c46/PhysicsTools/NanoAOD/python/jets_cff.py#L310

[2018-03-15 17:13] arizzi commented on #118
@ktht this is by design.
Because the objects are pt sorted the  indices are not messed up (i.e. still pointing to the right object). People should explicitelly check that the matchingIdx is < nGenJets or nVisTau.
It still makes sense to store the index even if the object is dropped because it contains information about the reco object being a fake or not.

You can think about it the same as when y

[2018-03-15 17:21] arizzi commented on #117
is it fixed by this https://github.com/cms-sw/cmssw/pull/22440 ?

[2018-03-15 17:23] arizzi commented on #106
@drkovalskyi can you make a PR to this repo adding the new IDs in NANO?

Is there a 94X MAOD equivalent of
https://github.com/cms-sw/cmssw/pull/22420 ?

[2018-03-15 17:24] arizzi commented on #103
was this followed up?

[2018-03-15 17:27] arizzi commented on #86
@peruzzim now that EGM ID are being finalized, what should we do here? Are we planning to keep Spring15 versions for 80X running and adapt only for 2017?

[2018-03-15 17:29] drkovalskyi commented on #106
nanoAOD should just copy values from miniAOD, i.e. it should not recompute. If it's not implemented this way it needs to be fixed. Do we plan to produce nanoAOD at T0?

There is no plan to back port to 94X, since it's not expected to be used for the full Run2 re-reco.

[2018-03-15 17:30] arizzi commented on #9
did we converge here?

[2018-03-15 17:34] arizzi commented on #106
PATMuonProducer runs at level of reminiaod, not rereco and the Selectors are in DF so I'm not sure what rereco has to do with it.
Why shouldn't this go in reminiaod ? can you clarify?

Can those new ID also be compute from MINIAOD? if so I do not se why they should not be in nanoaod.

In the PR you wrote that SUSY and others are using those working points, so why not including in nano?

NanoAOD ca

[2018-03-15 17:54] drkovalskyi commented on #106
Unless there is a clear use case, we won't back port anything. Whoever needs new selectors needs them in all Run2 data and the next opportunity to put it all together in a set of consistent datasets is the final re-reco of Run2. So while it has nothing to do with re-reco as a process, it's mostly a question of planning for major campaigns.

We need AOD as input. I don't think all inputs are availa

[2018-03-15 18:10] AndrewLevin opened #121 "photon supercluster eta not in nanoaod?"
The photon supercluster eta is not currently stored in, and it is not possible to reproduce it with, the nanoaod. I think we want to have this variable for barrel/endcap/gap classification.

[2018-03-15 18:19] arizzi commented on #121
please make a PR that adds a single bit "isEB" for that

[2018-03-15 18:19] arizzi commented on #121
or two bits if you also have to encode the gap

[2018-03-15 18:59] drkovalskyi commented on #106
I'm not aware of any re-miniAOD campaigns in near future that would allow to get a complete Run2016+Run2017 with consistent content. We were late for current cycle. The next is in a year from now and it won't be with 94X release. So no backport.

Regarding nanoAOD content I will need to find time to look into it and implement the change.

[2018-03-15 19:07] arizzi commented on #106
you submitted that PR 2 weeks ago, there was definitely time to have it included in 94X for the reminiaod of 2016 and 2017 that we are making in a few days/week....

[2018-03-16 09:47] perrozzi commented on #9
close to

[2018-03-16 09:53] intrepid42 commented on #103
Hi, if I remember correctly 94X MiniAod includes the FlavourAssociation for AK4 genJets but not for AK8, that's why the module still has to be run, unfortunately.

This would not happen if we would just use the jets from Rivet but these come without parton flavor. I tried to add the hadron flavor information of the Rivet jets to the genJets but the collections are not guaranteed to be the same as

[2018-03-16 13:45] perrozzi commented on #117
yes it should. master pr is merged, 94x will be soon

[2018-03-16 14:01] arizzi commented on #117
@gpetruc are we going to submit NANO PRs to MAOD branch to be in sync on 945 or we want to make our own analysis release?

[2018-03-16 14:06] arizzi commented on #117
NB: the only (real) PR merged in nano that is not yet in 94X is #116

[2018-03-16 14:37] shane-breeze opened #122 "Isolated tracks in 2016 nanoaod campaign"
I hope this is the correct place to post this, but why aren't isolated tracks included in the nanoAOD 80X production?

It seems to be included in the 94X version it is just removed for the 80X sequence: https://github.com/cms-nanoAOD/cmssw/blob/master/PhysicsTools/NanoAOD/python/nano_cff.py#L104

Is there some bug/issue with the isoTrackSequence for 80X?

[2018-03-16 18:53] ktht commented on #118
I agree, but clearly the `GenVisTau` collection is not pT sorted before their indices are recorded, as you can see from my original post where the pT cut is removed (they are printed in the same order as they are stored in the Ntuple). In the above example, `Tau_genPartIdx` stores indices 2 and 3, but the `GenVisTau` collection contains 2 entries.

If you still insist on the pT cut in `GenVisTau`

[2018-03-16 19:29] arizzi commented on #118
the bug is the GenVisTau should pt sorted then (before they are taken for matching).

For GenJet it is the case.

[2018-03-17 10:58] gpetruc commented on #122
Il 16 Mar 2018 15:37, "shane-breeze" <notifications@github.com> ha scritto:

I hope this is the correct place to post this, but why aren't isolated
tracks included in the nanoAOD 80X production?

It seems to be included in the 94X version it is just removed for the 80X
sequence: https://github.com/cms-nanoAOD/cmssw/blob/master/
PhysicsTools/NanoAOD/python/nano_cff.py#L104

Is there some bug/issue

[2018-03-17 12:56] ktht commented on #118
Ah ok, I agree with this conclusion. The following solution worked for me, but I dunno where to submit the PR:

[code]

[2018-03-17 13:25] arizzi commented on #118
please submit  here and on master for cmssw

[2018-03-17 13:26] arizzi commented on #118
btw can't we do with some sorter in between, i.e. without modifying the original producer?

[2018-03-17 15:37] ktht commented on #118
The closest thing I could find is this: https://github.com/cms-nanoAOD/cmssw/blob/2aa9689985f3914fa9d9fda5616fe34e27d1b0b1/CommonTools/CandAlgos/plugins/LargestPtCandSelector.cc#L22-L27
But it's for `reco::Candidate/Collection`; we could write a similar plugin to e.g. `PhysicsTools/NanoAOD/plugins/LargestPtGenParticleSelector.cc`:
[code]
The plugin not only sorts by pT, but also filters out first

[2018-03-17 23:31] AndrewLevin commented on #121
Here is the pull request:

https://github.com/cms-nanoAOD/cmssw/pull/123

[2018-03-18 14:50] arizzi opened #124 "Back port 2017 JET ID to AN release"
https://github.com/cms-sw/cmssw/pull/22323

[2018-03-19 14:46] #122 closed

[2018-03-19 15:28] slava77 commented on #118
On 3/19/18 8:00 AM, Giovanni Petrucciani wrote:

If it's not used anywhere else and there's no concern of code quality,
can this go to the mainstream 94X?

[2018-03-20 08:07] fabiocos commented on #118
Dear all,

let me recall that whatever enters 9_4_X is moved also to 9_4_AN_X (if there is no conflict).

Cheers

	Fabio

[2018-03-20 08:22] arizzi commented on #118
@ktht can you please make the PRs then to master and 94X main branch

(@slava77  concerning code quality is three lines here: https://github.com/cms-nanoAOD/cmssw/issues/118#issuecomment-373918106)

[2018-03-20 10:41] peruzzim commented on #86
I'm taking care of this now, together with updating the lepton MVA to its latest 94X training

[2018-03-20 11:54] slava77 commented on #118
On 3/20/18 1:22 AM, arizzi wrote:

OK, sounds like not an issue regarding quality

[2018-03-20 13:19] #121 closed

[2018-03-20 13:23] gpetruc opened #125 "Egamma 2017 Electron IDs"
Copy them from miniAOD v2 into nanoAOD.

[2018-03-20 14:58] arizzi commented on #90
#126 CMSSW 10_1_0_pre3
#127 sync up to 123 (excluding 108 and 120)

[2018-03-20 15:22] lenzip opened #129 "LHE level particle information"
This is a request to add variables corresponding to the LHE level particles.
The LHE event record is the only place where the pre parton shower kinematics can be found, and this can be very useful because it is on this kinematics that generation cuts from e.g. madgraph are imposed.

I propose to store the following information in branches starting with name "LHEPart_"

- status, integer
- pt, floa

[2018-03-21 12:20] gpetruc opened #134 "Egamma 2017 Photon IDs"

[2018-03-21 12:25] gpetruc commented on #86
in #133

[2018-03-21 12:25] #86 closed

[2018-03-21 12:44] gpetruc commented on #117
checked with  `cmsDriver.py test_mc_80X -s NANO --mc --eventcontent NANOAODSIM --datatier NANOAODSIM --conditions auto:run2_mc -n 10 --era Run2_2016,run2_miniAOD_80XLegacy --filein das:/SingleNeutrino/RunIISummer16MiniAODv2-PUMoriond17_magnetOff_80X_mcRun2_asymptotic_2016_TrancheIV_v6-v1/MINIAODSIM` and it works.
For SMP-RunIISummer16NanoAOD-00147 the bug is in the input, so I think we can close t

[2018-03-21 12:44] #117 closed

[2018-03-21 13:23] gpetruc commented on #124
94X backport is https://github.com/cms-sw/cmssw/pull/22671
I will make the needed changes to nano_cff on top of that.

[2018-03-21 13:26] gpetruc commented on #125
#133
(closing the issue since we have the PR open, to avoid double-counting)

[2018-03-21 13:26] #125 closed

[2018-03-21 14:06] #124 closed

[2018-03-21 14:07] gpetruc commented on #118
done in #135

[2018-03-21 14:07] #118 closed

[2018-03-22 10:00] peruzzim commented on #134
Done in #137

[2018-03-22 10:00] #134 closed

[2018-03-22 10:37] gpetruc opened #138 "fix relmon comparison in continous integration"
now it flags "significant" differences, but it would be good to flag any difference (the DQM gui does that correctly, it's only the message in the PR review that is incorrect)

[2018-03-22 15:38] peruzzim opened #139 "Electron ID: HLT emulation bit"
We should have a precalculated bit to apply an offline emulation of electron HLT requirements.
To be discussed how it has to be derived and optimized.
The 2016 electron HLT-safe ID derived by EGM POG is not recommended anymore, both for the second part of 2016 and for 2017.

[2018-03-23 14:14] veelken opened #142 "(Small) bug in definition of HLT trigger filter bits for electrons"
The bit coding for the WPLoose and WPTights electron trigger bits in
   https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/NanoAOD/python/triggerObjects_cff.py#L32
is swapped: according to the documentation in the following line,
   2=WPLoose, 4=WPTight

[2018-03-28 09:04] arizzi commented on #105
@scooperstein reported that the wrong weights are been used. can you please post the file with the new weights ?

[2018-03-28 12:15] rdewanje opened #148 "Regular expressions in "triggerObjects_cff.py" inadequate for e-mu, mu-mu, 3mu, 3e, 2mu-e and 2e-mu HLT paths"
The regular expressions given in the file:
https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/NanoAOD/python/triggerObjects_cff.py

for electron and muon objects viz.

https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/NanoAOD/python/triggerObjects_cff.py#L32

and

https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/NanoAOD/python/triggerObjects_cff.py#L49

are not adequate for th

[2018-03-28 12:19] arizzi commented on #148
can you propose a fix (in form of a PR) ?

[2018-03-28 12:48] veelken commented on #148
Hi Andrea,

Ram and I will prepare a PR. Does the syntax in
    https://github.com/cms-sw/cmssw/blob/master/PhysicsTools/NanoAOD/python/triggerObjects_cff.py#L49
support the syntax
   (part1|part2)
so that we can use the same bit to match different "versions" of the HLT filter name of e.g. the e+mu trigger ?
Otherwise we will need to use bit 1 for the "old" name of the HLT filter and bit 2 for the

[2018-03-28 12:52] arizzi commented on #148
@gpetruc knows better the syntax... or you can have a look at the code..

[2018-03-28 13:08] arizzi commented on #148
please use the proper Era Switches to support MC campaigns
94X MiniAOD v1
94X MiniAOD v2
80X MiniAOD
and 92X , 80X  for data

[2018-03-28 13:11] gpetruc commented on #148
I don't know if `filter("name")` supports regexps (you can try).
the alternative is to replace `N*filter("foo|bar")` with `(? filter("foo") || filter("bar") ? N : 0)` which will work.

[2018-04-02 07:51] veelken opened #151 "Update Type-1 corrected PFMET with new JEC"
Hi,

right now, we take the Type-1 corrected PFMET from the 'slimmedMETs' collection ( https://github.com/cms-nanoAOD/cmssw/blob/master/PhysicsTools/NanoAOD/python/met_cff.py#L20 ), which means that the (old) JEC used when producing the miniAOD are used to compute the Type-1 PFMET corrections. I think we should recompute the Type-1 corrected PFMET with the new JEC, similar to what we do for jets (

[2018-04-02 17:43] arizzi commented on #151
make sense, anyhow the next centeal productio ln will be starting from miniaod v3 having already the right JECs

[2018-04-05 09:31] mbluj opened #154 "Too big blocks in NanoAOD from the 05Feb2018 production"
The issue is as follows: some datasets (or more precisely data blocks in the datasets) of NanoAOD samples from the 05Feb2018 production cannot be read with crab due to too high number of lumisections contained in them, see an example crab error message below [1]. Files in the samples look correct, so I think it has something to do with merging which probably requires additional tuning to not build

[2018-04-05 10:15] arizzi commented on #154
https://hypernews.cern.ch/HyperNews/CMS/get/computing-tools/3553.html

[2018-04-05 10:15] #154 closed

[2018-04-05 11:05] mbluj commented on #154
In the liked HNs thread any solution of the issues is presented, expect already mentioned, but not very practical crab workaround.

[2018-04-05 11:42] arizzi commented on #154
meanwhile they are working on the fix
https://github.com/dmwm/CRABServer/issues/5645

[2018-04-05 11:52] mbluj commented on #154
OK, sounds good. But, is there anything preventing to produce datasets with smaller blocks with less than 100000 lumis? Split by lumi (or by event lumi aware) is quite useful.

[2018-04-05 12:27] arizzi commented on #154
it is not nanoaod specific, I think the problem is the size of the data to handle... I suggest you follow up on the computing thread or crab server issue if you have suggestions for the computing guys

[2018-04-05 12:33] arizzi commented on #122
https://twiki.cern.ch/twiki/bin/view/CMSPublic/WorkBookNanoAOD#Where_to_get_the_ntuples

[2018-04-08 09:43] kschweiger opened #155 "Running on 94X crashes with updated TauIDs"
Running lates master branch on 94X (with Setup on CMSSW_9_4_5_cand1 from twiki) crashes.
Error Message:
[code]

cmsDriver command (from nanoAOD twiki):
`cmsDriver.py test94X -s NANO --mc --eventcontent NANOAODSIM --datatier NANOAODSIM --filein /store/mc/RunIIFall17MiniAOD/TTToSemiLeptonic_TuneCP5_PSweights_13TeV-powheg-pythia8/MINIAODSIM/94X_mc2017_realistic_v10-v1/60000/A0D71AEE-13E1-E711-B3C9-FA

[2018-04-08 09:57] kschweiger commented on #155
I see, that the cmsDriver command is outdated in the twiki. Sorry for the inconvenience.

[2018-04-08 09:59] #155 closed

[2018-04-09 12:15] arizzi commented on #90
update gitlab to 10_1_1 (just out). DQM update is pending as the branch has been used in a cmssw PR

[2018-04-09 13:07] arizzi commented on #90
it seems this https://github.com/cms-sw/cmsdist/pull/3887 is only in 10_2_X, not in 10_1_X

is 10_1_0 a nano target?

[2018-04-13 15:28] tstreble opened #158 "PhysicsTools/NanoAOD/data not committed"
The repository PhysicsTools/NanoAOD/data is not committed in the git repository but is needed when running the 94X example sequence mentioned on the twiki
https://twiki.cern.ch/twiki/bin/view/CMSPublic/WorkBookNanoAOD#Recipe_for_CMSSW_9_4_X_and_the_c
(for the muon and electron ttH MVA weights for instance)
Is it planned to have this committed centrally?

[2018-04-13 15:54] gpetruc commented on #158
It's an external in the release, so CMSSW should find the files if you use the proper release (9_4_6 at the moment).
If you want to test it on an older release checking out a newer NanoAOD  version, you can check out the external data from  https://github.com/cms-data/PhysicsTools-NanoAOD with
[code]

[2018-04-13 15:59] tstreble commented on #158
Ok thanks a lot for the suggestion
Maybe it's worth to update the twiki to reference 9_4_6 instead of 9_4_5_cand1 in the example config then

[2018-04-16 15:11] shane-breeze opened #159 "80X MET Filters"
For 2016 data, the recommended MET filter flags are those stated in [1]. From the documentation [2] for the 80X nanoaod content, how can I easily cut on these flags? Some of them are simply stored in nanoAOD; however, I couldn't find these: "Bad PF Muon Filter" and "Bad Charged Hadron Filter".

Do these flags just have different name, e.g. Flag_muonBadTrackFilter?

Is the reconstruction issues rel

[2018-04-17 08:32] arizzi commented on #159
@gpetruc can you comment on muonBadTrackFilter relation with  "Bad PF Muon Filter" and "Bad Charged Hadron Filter" ?

will we have the updated set of filters in the 80X legacy reminiaod?

[2018-04-17 08:33] #158 closed

[2018-04-17 08:34] arizzi commented on #148
@rdewanje @veelken did this enter some PR? if so can we close? if not, any ETA for a PR?

[2018-04-17 08:36] #129 closed

[2018-04-17 08:37] arizzi commented on #112
this was included in V2 miniaod and available in new nanoaod

[2018-04-17 08:37] #112 closed

[2018-04-17 08:38] #106 closed

[2018-04-17 08:39] arizzi commented on #107
I assume this referes to what entered V2 so I close

[2018-04-17 08:39] #107 closed

[2018-04-17 08:40] arizzi commented on #57
added deepflavour.

#120 should address the remaining part (but is currently stuck)

[2018-04-17 08:41] arizzi commented on #9
any closer?

[2018-04-17 08:55] gpetruc commented on #159
For the legacy re-miniAOD in 94X to be done on the legacy 80X re-reco all the flags should be available (and, given the fix at reconstruction level, their impact should also be less), as they're available in 92X and later.

For 80X 03Feb2017, indeed it looks like the two mentioned filters have to be run at NanoAOD production step, someone should make a PR for it using era modifiers.

[2018-04-17 09:05] arizzi commented on #159
@shane-breeze  can you implement the changes and make a PR ?

[2018-04-17 09:13] perrozzi commented on #9
one click away
https://github.com/cms-sw/cmssw/pull/22025#issuecomment-381727854

[2018-04-17 10:29] veelken commented on #148
Please don't close this issue yet. The work on the HLT filters needs some more time, because we found a problem in the HLT muon filter config (reported in the HN thread: https://hypernews.cern.ch/HyperNews/CMS/get/muon-hlt/593.html ) that we need to understand better.

[2018-04-18 10:27] gpetruc commented on #94
I think the issue may be that we make flags from all TriggerResults objects, and in re-miniAOD campaigns we sometimes end up having both the old and the new TriggerResults in the event.
Can someone check if this is the source of the duplication?

[2018-04-18 10:29] gpetruc commented on #105
is this fixed by https://github.com/cms-data/PhysicsTools-NanoAOD/pull/3 (available in 9_4_6 or later) ?

[2018-04-18 10:34] arizzi commented on #105
likely but not 100% sure (verifying it)

[2018-04-18 13:02] shane-breeze commented on #159
Sure thing. Making the PR now

[2018-04-19 08:17] #159 closed

[2018-04-23 08:34] arizzi commented on #90
@slava77 this last was a test of CMSSW_10_2_X_2018-04-22-2300 (that I think includes  https://github.com/cms-sw/cmssw/pull/22914)

[2018-04-23 12:39] arizzi commented on #90
the link needs a redirect if you are outside cern.
In fact the DQM does not monitor the indices but I verified those by
hand downloading the artifacts root files (and the indices are ok).
Can you confirm that the IB CMSSW_10_2_X_2018-04-22-2300 contained
andreas PR ?

On Mon, Apr 23, 2018 at 2:22 PM, Slava Krutelyov
<notifications@github.com> wrote:

[2018-04-23 12:54] slava77 commented on #90
On 4/23/18 5:39 AM, arizzi wrote:

yes
https://cmssdt.cern.ch/SDT/html/showIB.html
that PR is included starting CMSSW_10_2_X_2018-04-21-1800

[2018-04-25 13:28] rdewanje commented on #142
I just corrected the "qualityBitsDoc" line for Electron objects setting bits: "2 = 1e (WPTight), 4 = 1e (WPLoose)" in the PR

[2018-05-03 22:32] ktht commented on #142
Fixed in https://github.com/cms-nanoAOD/cmssw/pull/163, though there's still https://github.com/cms-nanoAOD/cmssw/pull/162 open which already had the fix included

[2018-05-04 05:31] arizzi commented on #142
hmm I'm afraid 163 made 162 conflicting...

Il ven 4 mag 2018, 00:32 Karl Ehatäht <notifications@github.com> ha scritto:

[2018-05-08 08:42] lenzip commented on #139
Hello, is this the reason why Electron_cutBased_HLTPreSel is not in the 31Mar2018 nanoAOD?
What should one use instead as an interim solution?

[2018-05-08 10:08] arizzi commented on #139
I think egm asked not to use it... @peruzzim  can confirm

[2018-05-08 10:11] peruzzim commented on #139
I confirm - we are following up with experts in a separate thread

[2018-05-10 06:15] veelken commented on #142
The issue reported in this thread is fixed by PR #162 -> closing this issue.

[2018-05-10 06:15] #142 closed

[2018-05-15 13:39] arizzi commented on #110
https://github.com/intrepid42/TopLJets2015/blob/e1cfa697f991dd9ac5510f10bb46bc01a7986f8f/TopAnalysis/plugins/MiniAnalyzer.cc#L255-L278

[2018-05-16 09:39] arizzi commented on #110
@adewit would you have time to also include this weights ?

[2018-05-16 10:12] adewit commented on #110
I can try to do this, but it might be a few days before I get to it.

[2018-05-16 15:57] gitytakahas opened #166 "weird behavior of the LHE_Njets"
Dear all,

I checked LHE_Njets variable by running over this single file (*).
As expected, I see all events have 1.

However, if I ran over two files in a row (**), then, I got 1 for the first file, but from the second file, I got unreasonable value, such as 251563401473.

Do you have any idea why this happens ? or where I should fix ?
This might be related to the following warning message from tr

[2018-05-17 12:18] arizzi opened #167 "Soft activity calculation is broken"
the cuts on the jet collection is actually applied on the inputs

[2018-05-17 12:49] arizzi commented on #167
#168

[2018-05-19 06:24] juska opened #169 "NanoAOD missing jet muon energy fraction?"
[Moving the discussion here from Computing Tools hypernews]

 Hi,

the jet muon energy fraction seems to be missing at least in 93X NanoAOD. The existing energy fraction variables are Jet_chEmEF, chHEF, neEmEF and neHEF. I am trying to reconstruct and study jet energy composition.

While the charged EM energy fraction, Jet_chEmEF, could basically also include muon energy, I find by summing over th

[2018-05-19 19:53] arizzi commented on #169
can you clarify your use case? for the muon fractions and for the fractions in general.
NanoAod is about choices of what to include, what not and which precision to use. Thw optimization is based on analysis use cases hence we need to know what yiu want to do with those number to understand why the available info is not sufficient (if that's the case)

[2018-05-20 05:51] juska commented on #169
I want to reconstruct the particle-flow jet energy composition:
[Figure_046-a.pdf](https://github.com/cms-nanoAOD/cmssw/files/2020050/Figure_046-a.pdf)

This is a very efficient tool for studying the quality of the whole reconstruction process. As for example the JetID variables depend heavily on the jet energy fractions, it is important to be able to see whether the fraction variables are indeed

[2018-05-20 12:34] arizzi commented on #169
Physics object studies are not in the nanoaod target list.
on the other hand I think JME POG is planning to use modified version of nano for their studies and I'm guessing your use case can fit in there. (@rappoccio)

[2018-05-20 12:46] juska commented on #169
So why are the jet energy fraction variable there in the first place then? Seems quite funny that there's some of them but not all. Also, is the decreasing numerical precision an expected feature?

[2018-05-20 13:49] gitytakahas opened #170 "Electron supercluster eta"
Hi,

I would like to kindly request to add super cluster eta of the electron, as the scale factors have been derived based on this quantity.
Let me know if this can be easily done in your side. Otherwise, I'll try to do it and request PR.

Thanks,
Yuta

[2018-05-21 17:41] rappoccio commented on #169
You can play with a JMAR workflow I've been developing here. This is in the context of substructure  studies on AK8 jets, but in principle you can extend as you wish.

https://github.com/cms-jet/NanoAODJMAR

[2018-05-23 02:45] juska commented on #169
Looks nice thanks! Once my new analysis code is a bit more complete, I'll see if this would be good for me out-of-the-box or if I'd need to extend it to other jet types. Are the ntuples you have produced somewhere available?

[2018-05-23 06:57] arizzi commented on #169
I see that now muonFraction is used for JetID so there could be some use case (...but we precompute the IDs).
How inaccurate would it be to simply calculate the fraction from the two matched muon indices? (I'm guessing it should be quite accurate)

[2018-05-23 07:15] gpetruc commented on #169
may also be worth checking the size cost of adding it with low precision
(eg precision=4?).
it should be mostly zeros for jets with no muons and around 1 for muons,
the only real entropy coming from muons in b-jets.

btw, it may be worth checking how the current choice for all fractions
(precision=6) compares with storing (fraction*100) as int.

Giovanni

Il Mer 23 Mag 2018, 08:57 arizzi <notifica

[2018-05-24 08:03] juska commented on #169
I tried calculating the muon fraction from the matched muons (using Jet_muonIdx1,2 and Muon_pt[]), and what I see is that the fraction is roughly half of what it is calculated with the other possible method, i.e. subtracting all other jet energy fractions from unity.
[muon_fraction_muonIdx.pdf](https://github.com/cms-nanoAOD/cmssw/files/2034315/muon_fraction_muonIdx.pdf)
[muon_fraction_subtraction

[2018-05-24 08:51] arizzi commented on #169
did you compute the fractio  dividing by raw pt or corrected pt?

Il gio 24 mag 2018, 10:04 Juska Pekkanen <notifications@github.com> ha
scritto:

[2018-05-24 11:35] juska commented on #169
Oh that's a good point. I did the previous plot with corrected pt.
Here's a version with muon fraction calculated from MuonIdx1,2 using raw pt (Jet_pt*(1-Jet_rawFactor). The difference is very small.
[muon_fraction_muonIdx_raw.pdf](https://github.com/cms-nanoAOD/cmssw/files/2035071/muon_fraction_muonIdx_raw.pdf)

A possible problem with obtaining jet muon energy fraction with the stored muons are

[2018-05-24 19:30] shane-breeze opened #172 "What is CaloMET?"
What's the `CaloMET` attribute in nanoAOD?

I've had a look at the documentation and it's not so clear to me. If I look at events with isolated muons pT>30 GeV, and compare `CaloMET` to the (`PF`) `MET` they look similar apart from maybe the resolution with no large bias. So if this is the MET from calorimeter deposits, how come it seems to 'see' the muons in an event?

[2018-05-25 09:06] gpetruc commented on #172
It is supposed to be equal to the caloMETPt() of the slimmedMETs from miniAOD

My understanding from the miniAOD config is that it should be the calo MET without muon corrections, but I'd let @gouskos / @zdemirag to confirm.

[2018-05-25 09:08] zdemirag commented on #172
in the offline reconstruction, calo met is muon corrected:

process.caloMetM = cms.EDProducer("MuonMET",
    metTypeInputTag = cms.InputTag("CaloMET"),
    muonMETDepositValueMapInputTag = cms.InputTag("muonMETValueMapProducer","muCorrData"),
    muonsInputTag = cms.InputTag("muons"),
    uncorMETInputTag = cms.InputTag("caloMet")
)

[2018-05-25 09:15] #172 closed

[2018-06-05 13:27] rappoccio commented on #81
I think we also need to add the AK8 jets here (I can handle that), but does anyone have expertise with the btagging information at the HLT level?

[2018-06-06 02:34] rappoccio commented on #169
Addressed in the referenced PRs. Juska, I think this should satisfy your needs (otherwise we can reopen the issue).

[2018-06-06 02:36] rappoccio commented on #81
The AK8 jets are implemented.

I don't have the expertise for the HLT btag information.

I am unsure if we need the uncorrected pt or the looseid jet collections??? @arizzi any thoughts there?

[2018-06-06 07:27] arizzi commented on #81
don't we have the rawFactor to get back to raw pt?

[2018-06-06 13:47] rappoccio commented on #81
We have rawFactor in the AK4 collection and now in the AK8 collection at reco level. Is that what you mean?

[2018-06-19 20:43] aminnj commented on #94
Hi,

I recently ran into this after trying to run some tools on a file from /DoubleMuon/Run2017E-31Mar2018-v1/NANOAOD [1]. It's not really an issue since the content is identical, but it might break some user tools since branch names are the same.

Has this been fixed since that dataset was produced?

Thanks!
Nick

[1]

[code]

[2018-06-30 23:44] singh-ramanpreet opened #178 "photons for FSR recovery?"
Hi,

I am trying to implement, FSR recovery, for H -> ZZ -> 4 lepton. I am not sure, if this can be done in nanoAOD since it requires PF photons with pT > 2 Gev.
(Section 3.3, [Analysis Note](http://cms.cern.ch/iCMS/jsp/openfile.jsp?tp=draft&files=AN2016_442_v8.pdf))

Thanks,
Raman

[2018-07-25 16:42] mgratti opened #184 "Rounding different bw electron pts and jet pts?"
Hi,

is it expected that the rounding is implemented only on some variables, e.g. `Jet_pt` is rounded and `Electron_pt` is not?

Thanks,
Maria Giulia

[2018-07-26 07:08] gpetruc commented on #184
yes, the rounding is specified indepenently for different variables depending on the precision needed (eg electrons are measured more precisely than jets) and disk size cost (on average there's more jets x event than electrons)

[2018-07-26 07:08] #184 closed

[2018-07-26 07:19] gpetruc commented on #178
Indeed it can't be done with current nanoAOD.

You could try add a list of candidate FSR photons, if it's small enough (ie empty in most events). However you can't easily subtract them from the leptons pf photon isolation since only the combined isolation is saved.

OTOH the 4l analysis may be better suited to miniAOD since you can redice the events early on in the processing flow skimming on the

[2018-07-26 07:29] gpetruc commented on #170
You can use `Electron_eta + Electron_deltaEtaSC`.
We store it that way because it is more efficient size wise.

[2018-07-26 07:29] #170 closed

[2018-07-26 07:30] gpetruc commented on #105
i believe it should be fixed in the past PR.
re-open if needed

[2018-07-26 07:30] #105 closed

[2018-07-26 07:35] intrepid42 commented on #110
Hi, sorry to comment on this only now: but the hardcoding of weight indices is a bit fragile as the weights can potentially differ between generators or even between different Pythia samples (their definition is part of the GEN fragment done by the MC contact).

Would it be possible to include all of them, and have their names in some kind of header? Or is this already done?

Same applies for the

[2018-07-26 08:12] peruzzim commented on #139
No plan to have a central definition for 2017, closing

[2018-07-26 08:12] #139 closed

[2018-07-26 08:17] gpetruc commented on #110
Hi,

The proper solution, for both this and the LHE weights, would be to have them parsed properly during the GEN step (when the configuration can be customized depending on the generator used, settings, etc), so that they could be accessed from the Gen and LHE event products not by ID but by physics meaning (e.g. scale up, or PS down, or N-th eigenvector of a given PDF...)

As this is not done, t

[2018-07-26 08:22] gpetruc commented on #166
Hi Yuta,
No idea, but I don't think the treeReaderArrayTools have ever been tested running on multiple files at once. I would assume all data structures would have to be re-created when the file changes
Giovanni

[2018-07-26 09:03] intrepid42 commented on #110
Hi Giovanni, I agree that the weights and their meanings should be more easily accessible in the MiniAOD already, and maybe there is some work to be done by the GEN group.
It seems that some information might be stored in the genLumiInfoHeader already, even for 71X, see https://github.com/cms-sw/cmssw/blob/CMSSW_7_1_X/GeneratorInterface/Pythia8Interface/plugins/Pythia8Hadronizer.cc#L876

It is not

[2018-08-06 11:25] intrepid42 commented on #110
See also https://github.com/cms-sw/cmssw/pull/24209

[2018-08-07 14:05] kschweiger opened #187 "HLT backfill not working as intended"
Hi,

if runs with different HLT menus are run in one job, new HLT paths are backfilled with 1 instead of -1 (as intended by the [code](https://github.com/cms-nanoAOD/cmssw/blob/master/PhysicsTools/NanoAOD/plugins/TriggerOutputBranches.cc#L41)).

[2018-08-08 07:36] #187 closed

[2018-08-08 12:13] intrepid42 opened #189 "Generator weights as float16"
Hi, would it be an option to include generator weights as float16, similar to the packed formats in MiniAOD?

That would solve the space problem for incuding all PS weights needed for analysis (see https://github.com/cms-nanoAOD/cmssw/issues/110, https://github.com/cms-sw/cmssw/pull/24209)

It would not be human-readable anymore and require unpacking at analysis runtime though...

[2018-08-08 13:16] intrepid42 commented on #189
Hi, ok, good to know that the float size is already reduced!

Unfortunately, we are seeing many analyses right now that have overconstrained parton shower uncertainties in combine(-like) fits. The problematic user group in this case are not the MC experts (who would add it to their own nanoAOD) but the people who just use whatever is readily available*.

Seeing that many analyses are using combine

[2018-08-08 13:32] arizzi commented on #189
I'm not sure I understood... so what? I mean what is the issue ?

[2018-08-08 13:42] bendavid commented on #189
Hi,
I guess that so far only LHE weights (from LHEEventInfo) are being stored?

The parton shower weights are rather coming from GenEventInfo (because they are generated by pythia rather than the matrix element generator).

Incidentally in the SUSY parameter scan workflow, the matrix element weights also appear in GenEventInfo since the usual LHE products are bypassed.

[2018-08-08 13:53] intrepid42 commented on #189
@arizzi The problem is that the simple isr/fsr up/down weights lead to artificial nuisance constraints in combine fits. You define a standard here that 90% of the users will just follow, and I think it should be as robust as possible.

@bendavid Parton shower weights are included but they are hardcoded weights 6--9 in the GenEventInfoProduct

[2018-08-08 14:00] arizzi commented on #189
@intrepid42,  ok then rather than isr/fsr up/down what else would you like to add ? how many weights? do we have a representation in eigenvectors of the covariance that can be used?

concerning the "artificial nuisance constraints" I'm afraid this is life.. if people put too many bins and too many events in the fit then nuisances are just constrained, if the constrain is artifical (as I'm sure it

[2018-08-08 14:07] intrepid42 commented on #189
The extended set of weights can be found here: https://github.com/cms-sw/cmssw/blob/master/Configuration/Generator/python/PSweightsPythia/PythiaPSweightsSettings_cfi.py

People will always use the full available dataset, so we have to break down the uncertainties into uncorrelated sources wherever possible.

Taking MC stats correctly into account has to be done in the combine software, and I think

[2018-08-08 14:16] arizzi commented on #189
@intrepid42 well, I think as Giovanni said above, people can still run on their signal samples (= small stuff) a version of nano with many more PS weights.

Now the question and use case we have to cover with nanoaod is what is reasonable to do for the average user.
If the only argument for moving from 3 to 30 weights is "because otherwise people get artificial contraints in combine", I'm afraid t

[2018-08-08 15:40] intrepid42 commented on #189
I am mostly concerned about SM precision measurements. I don't know the exact impact on searches (where the backgrounds are also constrained in the fits) but the CDF Wjj story shows how things can go wrong with simplified systematics.

[2018-08-09 09:19] gpetruc commented on #189
I don't think we can solve the problem of people not thinking at what they are doing just by adding more numbers to nanoAOD. And decorrelating any uncertainty into a large number of nuisances to avoid them being constrained does not necessarily give the correct answer
Anyway, this is going beyond the topic of this issue, which per se can be closed since weights are already compressed.
I can open a

[2018-08-09 09:19] #189 closed

[2018-08-09 09:24] gpetruc opened #190 "Documentation & tools for adding extra weights to signal samples"
For dedicated studies people may want to re-produce privately signal samples with extended sets of weights (e.g. all PDF sets).

It would be good to provide some documentation and possibly tools to simplify this (e.g. customize functions).

We could also extend the weight sets for some central samples that are not large and can be clearly identified as signal from LHE / GEN information, but not fo

[2018-08-09 09:25] gpetruc commented on #148
Any update on this topic?

[2018-08-09 09:25] #167 closed

[2018-08-09 09:27] gpetruc commented on #166
Hi Yuta,
Did you by chance investigate this further, or have any follow-up PR for nanoAOD-tools?

[2018-08-09 09:35] intrepid42 commented on #190
Ok, do you think this could be done by producing friend trees? That should be faster than reproducing the complete nanoAOD for the analyses concerned.

[2018-08-25 05:25] PerilousApricot commented on #94
Hello,

This issue breaks the `spark-root` adaptor in a subtle way, that will be a difficult fix. Is there a workaround to somehow strip the duplicate branches during production, or is a post-processing step the only solution currently?

[2018-08-27 08:19] arizzi commented on #94
I will have a look later this week.

Il sab 25 ago 2018, 07:26 Andrew Melo <notifications@github.com> ha scritto:

[2018-08-28 08:12] intrepid42 opened #194 "SubJet issues"
Hi, I see some strange issues with the SubJet collection.

There are some subJet_Idx larger than nSubJet (-> out of range):
![image](https://user-images.githubusercontent.com/1311783/44709499-12b7d580-aaaa-11e8-814a-9001c17333f7.png)
![image](https://user-images.githubusercontent.com/1311783/44709510-1b101080-aaaa-11e8-820b-9e2abde79402.png)

There are SubJets of the same FatJet that have large De

[2018-08-28 12:33] rappoccio commented on #194
Hmmm... Well, they're clearly not part of the same jet (dr < 0.8 for real subjets).

Can you try adding a pt > 170 GeV cut to the Fat Jets to see if that improves?

[2018-08-28 12:42] intrepid42 commented on #194
Hi Sal, that leaves the plot unchanged (as `pt > 170` for all FatJets).

[2018-08-28 12:48] rappoccio commented on #194
Not all FatJets, the leading three are always kept, regardless of pt. Hmm. I need to investigate further.

[2018-08-28 12:58] rappoccio commented on #194
Also, BTW, this has to be a miniaod issue, nanoaod is just "forwarding" the information... but I will take a look.

[2018-08-28 13:42] intrepid42 commented on #194
That's scary... Thanks for checking!

[2018-08-29 10:02] arizzi commented on #94
the Flag duplication seem to be to the fact that we run them both in RECO and PAT ... I'm not sure what is the right thing to do here

[2018-08-30 15:10] rappoccio commented on #194
OK, good news first: This is not present in miniaod.

Still digging into what happened in NANOAOD.

[2018-08-30 15:39] rappoccio commented on #194
I figured this out.

In the past, we had two subjet collections (CHS, and PUPPI). See [here](https://github.com/cms-sw/cmssw/commit/903330a6247fd886c8ffca0f1fafc0b11bc74d05#diff-416ad16d53535660648a4a4bb98636d6L240). We switched to just one ```'SoftDropPuppi'``` for later releases. Explicitly asking for this fixes the problem.

So this will occur if somehow PUPPI removes a subjet that CHS kept, an

[2018-09-03 12:38] intrepid42 commented on #194
Hi Sal, thanks a lot for fixing this!

[2018-09-04 08:44] mgratti opened #196 "Electron cut-based id with Spring15 tuning"
Electron cut-based id with Spring15 tuning was found useful for analysis of 2016 data in SUSY Pag.
It is currently missing in nanoAODs for 2016 era.
Would like to add it for both `run2_miniAOD_80XLegacy` and `run2_nanoAOD_94X2016`.

[2018-09-04 10:55] #196 closed

[2018-09-11 08:30] danbarto opened #198 "FastSim support"
Producing nanoAOD from FastSim isn't supported currently, see e.g. https://hypernews.cern.ch/HyperNews/CMS/get/prep-ops/5690.html
In order to work, triggerObjectTables and l1bits have to be removed from the sequence. One can use the existing '--fast' flag in cmsDriver to switch to a dedicated FastSim sequence. I can open a PR with those changes later.

Currently one can (only?) apply the FastSim J

[2018-09-12 10:27] lenzip commented on #9
Hello, what is the status of this issue? Are STXS categories available in nanoAOD?

[2018-09-12 12:07] arizzi commented on #9
I did not see a nanoaod PR.. I may have missed @perrozzi  can you comment? I think the one-click was made in the central repo, how about nano?

[2018-09-13 15:59] nanlu06 opened #200 "global and tracker muon information"
Dear All,

For the H->mu mu analysis, the muon is required to be both a tracker muon and a global muon. The track muon and global muon information does not exsit in the nanoAOD. Could this be added?

Thank you,
Nan

[2018-09-13 16:29] nanlu06 opened #201 "HLT_IsoTkMu27_v* trigger bit"
Dear All,

I have a quick question on the trigger bit information stored in nanoAOD. Does the trigger bit in nanoAOD include HLT_IsoTkMu27_v*? I see there is "HLT_IsoMu27" in the nanoAOD.

I wanted to ask this because for the Higgs to mu mu analysis, the trigger requirement is HLT_IsoMu27_v* OR HLT_IsoTkMu27_v* (analysis twiki page: https://twiki.cern.ch/twiki/bin/viewauth/CMS/HiggsToMuMuRunII#Syn

[2018-09-13 16:32] nanlu06 commented on #200
Thank you very much! Yes, indeed the medium ID is used. In addition, the muon is required to be both a tracker muon and a global muon, as written in the 2017+2018 analysis twiki page: https://twiki.cern.ch/twiki/bin/viewauth/CMS/HiggsToMuMuRunII#Synchronization

[2018-09-13 16:38] gpetruc commented on #201
all HLT bits available in the input data or MC sample are stored.

[2018-09-13 16:38] #201 closed

[2018-09-18 15:53] shane-breeze opened #202 "JER Corrections"
Is the recommended smearing procedure [1] for jet energy resolution applied to the `Jet` collection in nanoAOD or should this be applied on-the-fly to this collection?

[1] https://twiki.cern.ch/twiki/bin/view/CMS/JetResolution#Smearing_procedures

[2018-09-19 04:13] ktht commented on #202
There's a nanoAOD-tools module for that ([link](https://github.com/cms-nanoAOD/nanoAOD-tools/blob/master/python/postprocessing/modules/jme/jetmetUncertainties.py)).

[2018-09-26 10:25] mgratti opened #203 "VID compressed bitmap for Electron cut-based id with Spring15 tuning"
As the Spring15 tuning is the SUSY recommendation for cut-based id for era 2016, I would like to add the VID compressed bitmap also for this tuning.

[2018-09-26 10:27] mgratti commented on #203
This issue is connected with #196, but extends it, as I previously added only the integer for the decision of the working point.
The VID compressed bitmap is needed since  part of the SUS recommendation is to switch off the cuts on PFiso.

[2018-09-26 10:49] gpetruc commented on #203
Considering that the Spring15 is not a recommendation of E/gamma and it's being added only for SUS, then if SUS use a different variant of it I think it would make more sense to just add the SUS variant (and label it e.g. CutBasedIdSpring15SusyNoPFIso) rather than add the obsolete ID that people shouldn't use and require people to compute the SUS id from the bitmap.

[2018-09-26 12:46] mgratti commented on #203
That makes sense, but it doesn't seem obvious to implement, at least to me.
Any suggestion?

[2018-09-26 12:58] mgratti commented on #203
However, as far as I understand, also for 2017, SUS plans to remove the cut on PF iso, so SUS people should learn to compute from the bitmap anyway.

[2018-09-28 13:27] perrozzi commented on #9
it should solve the problems I was encountering back in December

[2018-09-28 21:08] PerilousApricot commented on #94
would it make sense to perhaps namespace them as `flag_reco_*` and `flag_pat_*`?

[2018-10-05 09:12] #27 closed

[2018-10-05 09:14] peruzzim commented on #194
Fixed by #195

[2018-10-05 09:14] #194 closed

[2018-10-05 09:17] peruzzim commented on #166
Only affects nanoAOD-tools, closing here.

[2018-10-05 09:17] #166 closed

[2018-10-05 09:19] peruzzim commented on #203
Will be re-examined once we come to a wider agreement among POGs and PAGs on which IDs to support.

[2018-10-05 09:43] peruzzim commented on #202
It's not applied in production, it would be very nice to have it.
The recommended procedure applies a random smearing for jets not matched to any generator-level jet, which is not ok for reproducibility.

For those cases, we should rather use a semi-deterministic approach as it is done for the EGM smearings (see EgammaAnalysis/ElectronTools/plugins/CalibratedElectronProducersRun2.cc).
In order to

[2018-10-05 09:51] peruzzim commented on #202
@zdemirag @ahinzmann would you agree?

[2018-10-05 11:44] peruzzim commented on #151
Can you please open a PR to fix this as soon as https://github.com/cms-nanoAOD/cmssw/pull/153#issue-179519175 is understood? Thanks

[2018-10-08 12:39] zdemirag commented on #202
I also agree that to some level a deterministic approach is good way to go. In the this PR: https://github.com/cms-sw/cmssw/pull/20240 an option was added to the templates class to achieve the deterministic JER application. @eioannou: specifically this might be useful for the smeared MET and @rappoccio was part of this conversation in the past for the PR.

[2018-10-16 09:02] mbluj opened #205 "Missing MVAIso Tau-IDs in 2018 Nano with 10_2_X"
As title says: MVAIso Tau-IDs are missing in NanoAOD with 10_2_X for 2018 data/MC.
The issue is understood to originate from a missing default configuration for eras different than a set of specific 94X eras which is an obvious bug. It is going to be fixed soon by @mbluj (myself).
Question is: which branch should be used for the fix, `master-cmsswmaster`?

[2018-10-16 09:40] peruzzim commented on #205
We are in the process of creating a new branch based on 10_2_X, could you please test your integration locally on a recent 10_2_X release, but wait to open a PR? Thanks

[2018-10-16 09:47] mbluj commented on #205
OK, sure.

[2018-10-16 11:17] #200 closed

[2018-10-18 09:18] kschweiger opened #211 "QGL in miniAOD outdated"
I noticed, that the QGL that is run in miniAOD (training is loaded from the GT) is outdated. An example would be the GT used for the Fall17MiniAODv2 production [1]. It seems to still point to the v1 version listed here [2]
I got feedback from the QGL experts, that the latest training for the QGL is [3] (listed as **v2b** in [2]). And should be used in the 80X era and onwards.

I can take care of i

[2018-10-18 09:30] arizzi commented on #211
if the data structure is uploadable to the DB, why not creating the proper GT and accessing the file from DB ??

[2018-10-18 09:33] peruzzim commented on #9
cms-sw#24753 is included in CMSSW_9_4_11_cand1, that has now been merged in the master branch.

Can you please test?

[2018-10-18 11:13] kschweiger commented on #211
I brought this the the attention of the experts and will follow up when there are news about this.

[2018-10-19 08:18] mbluj commented on #205
Hello,
is a new branch `master-102X` the one to which is should commit?
Do you think if there is still a chance to have this tau-ID fix for 2018 production which is about to be restarted? If so, what are deadlines?
Thanks.

[2018-10-23 16:04] adewit commented on #9
Hi, I have a working implementation for some private studies, starting from the initial commit linked above. See https://github.com/cms-nanoAOD/cmssw/compare/master...adewit:add-stxs?expand=1 - this works in CMSSW_9_4_11_cand1. I haven't tried in CMSSW_10_2_6 yet , but can do that if it's useful and make a PR. I don't know if @perrozzi (or anyone else) has been working on a more complete/better do

[2018-10-24 13:16] mgratti commented on #203
Hi, I think this should be reconsidered, because as far as I understand, there is already an agreement between Egamma POG and SUS PAG to use Spring15 as baseline recommendation for 2016.
@gzevi may want to comment on this.

[2018-10-24 15:01] gzevi commented on #203
Hi, how large is the size increase from the VID bitmaps? Perhaps an alternative would be to simply add the two missing variables needed for cut-based electron ID, and be done with it. You already have: hoe, convVeto, eInvMinusPInv, sieie, dxy, dz, used by lepton ID. You also have dzErr, dxyErr, and ip3d, which perhaps are used by other analyses or energy corrections . For cut-based ID, you are onl

[2018-10-25 07:57] mgratti commented on #203
From a small test on 100 MC evts, the increase in size for doubling the vid bitmaps for electrons is +0.06%.
The actual increase due to the addition of the Spring15 vid bitmap will be a bit higher, because the number of bits required to make a compressed bitmap out of the Spring15 cuts is higher than 32, so cannot be contained in a normal integer, but would need a long int.

[2018-10-30 20:59] yiiyama opened #216 "Electron_deltaEtaSC"
The electron deltaEtaSC variable currently defined here
https://github.com/cms-nanoAOD/cmssw/blob/master/PhysicsTools/NanoAOD/python/electrons_cff.py#L271
as `"superCluster().eta()-eta()"` is not quite what is used in the POG ID recommendation (https://github.com/ikrav/cmssw/blob/egm_id_80X_v1/RecoEgamma/ElectronIdentification/plugins/cuts/GsfEleDEtaInSeedCut.cc#L30-L33 linked from https://twiki.c

[2018-10-31 08:44] gpetruc commented on #216
Hi,

That variable in the nanoAOD is meant to allow accessing the eta of the
supercluster, not for ID cuts.

Giovanni

Il Mar 30 Ott 2018, 22:03 Yutaro Iiyama <notifications@github.com> ha
scritto:

[2018-10-31 08:45] peruzzim commented on #216
That variable is there to recover the SC eta, that can be used to bin scale factors or possibly for categorisation, without having to store that with the same precision of the electron eta (the difference between the two is close to zero, so it takes less bits to obtain the same precision).
Its meaning is completely different than the deltaEta used in electron ID.

The rationale here is that we do

[2018-10-31 08:46] #216 closed, assigned to nobody

[2018-10-31 08:46] yiiyama commented on #216
Hi @gpetruc @peruzzim , OK that makes sense. Thank you for the clarification.

[2018-10-31 09:02] peruzzim commented on #151
https://github.com/cms-nanoAOD/cmssw/pull/153#issue-179519175 is being investigated, @veelken could you please already implement this in nanoAOD and open a PR, so we have this side of the functionality ready?

[2018-11-03 14:47] lenzip commented on #9
Hi, can this proposal be finally merged so that we have this feature in nanoAOD. Without it no Higgs analysis can be performed because ggH theory incertainty rely on STXS categorization

[2018-11-08 09:16] fgolf opened #229 "Check AK8 jet input collection in all releases"
Need to check carefully which AK8 jets are input to downstream calculations as the default AK8 jet collection changed from CHS to PUPPI between 80X and 94X.

[2018-11-09 09:18] #205 closed

[2018-11-09 09:19] peruzzim commented on #9
Done in #227

[2018-11-09 09:19] #9 closed

[2018-11-09 10:40] peruzzim commented on #229
Also includes activating deepAK8 in all datasets where it should run

[2018-11-09 14:30] fgolf commented on #10
There is a discrepancy in the configuration used to calculate trkMET between miniAOD and nanoAOD.  MiniAOD configuration selects PF candidates for trkMET calculation with selection pvAssociationQuality()>=4 (https://github.com/cms-sw/cmssw/blob/896137df27dbe57b80d2dc8a83550cac2ba9de50/PhysicsTools/PatAlgos/python/slimming/miniAOD_tools.py#L213).  NanoAOD configuration instead selects with pvAssoci

[2018-11-12 12:34] #151 closed

[2018-11-12 13:32] peruzzim opened #235 "Non-closure of Type-1 MET covariance and significance"
See discussions in #151 #153 #231 and MET HN forum.
Covariance and significance can be added to nanoAOD content once the issue is fixed.

[2018-11-13 15:12] clelange opened #239 "Patch link provided by gpetruc-bot does not work"
_Originally posted by @gpetruc-bot in https://github.com/cms-nanoAOD/cmssw/pull/238#issuecomment-438285128_

"Please update <code>PhysicsTools/NanoAOD/python/nanoDQM_cfi.py</code>: [take this patch](https://cms-nanoaod-integration.web.cern.ch/integration/test_pr_238/dqm_patch.txt) or run <code>prepareDQM.py -d -u nano_file_mc.root</code>, and then if needed adjust the plot range using some human c

[2018-11-13 15:17] clelange commented on #239
OK, it was delayed, now it's there :-)

[2018-11-13 15:17] #239 closed, assigned to nobody

[2018-11-13 15:30] peruzzim commented on #198
#240 + JEC are now read and applied from the GT

[2018-11-13 15:30] #198 closed

[2018-11-14 08:52] #203 closed

[2018-11-21 17:15] scarletnorberg opened #255 "Egamma 2017 Photon ID's"
Hello comparing with the numbers that are in the current NanoAOD code and the twiki page. I believe that the cuts are from the 92X production and we are now in the 94X version. Here is where I was looking:
https://twiki.cern.ch/twiki/bin/viewauth/CMS/CutBasedPhotonIdentificationRun2#Working%20points%20for%2094X%20and%20later. Are there plans to update these cuts?

[2018-11-21 17:46] mgratti opened #256 "Information to determine whether isolatedtrack is not a lost track"
I can't find a way to determine whether an `IsoTrack` is a pf candidate or a lost track.
My understanding is that the `isPFcand` only requires that the reference to a pf candidate is non null, but this doesn't seem enough to avoid the contribution from losttracks or to distinguish from them.

is there a way to test this something on the line of
https://github.com/cms-nanoAOD/cmssw/blob/master/Phys

[2018-11-22 10:24] peruzzim commented on #255
@scarletnorberg which EGM ID are you referring to? The nanoAOD code now calls the VID from EGM.
The Fall17 V2 photon ID is being integrated now (#254), is this what you're referring to?

[2018-11-22 10:33] peruzzim commented on #255
@guitargeek @michelif @Sam-Harper @lsoffi @swagata87

[2018-11-22 10:57] peruzzim commented on #256
It looks like you want to check if the candidate referenced by IsolatedTrack::packedCandRef() is in the packed PF candidates or lost track collection.

See how the variable `refToCand` is set and passed to the constructor of IsolatedTrack here:
https://github.com/cms-sw/cmssw/blob/CMSSW_10_4_0_pre1/PhysicsTools/PatAlgos/plugins/PATIsolatedTrackProducer.cc#L295-L318
https://github.com/cms-sw/cmssw/

[2018-11-28 06:23] scarletnorberg commented on #255
Hello I missed the PR for the Fall17 V2 this is what I am referring to. Thanks.

[2018-11-28 06:23] #255 closed, assigned to nobody

[2018-11-29 09:18] #256 closed, assigned to nobody

[2018-11-29 09:19] #229 closed, assigned to nobody

[2018-11-29 13:44] peruzzim opened #264 "Integrate L1 pre-firing weights"
Needs lathomas:L1Prefiring_10_2_6 and related ports integrated in cms-sw
(at least in CMSSW_10_2_X and master branches)

@lathomas

[2018-11-29 14:46] peruzzim commented on #211
@kschweiger is the code ready to pick it up if the new training gets into the GT?
It seems to me we're not rerunning it in all cases.

[2018-11-30 08:56] kschweiger commented on #211
Currently not. But I can make a PR

[2018-11-30 08:57] peruzzim commented on #211
Yes please

[2018-11-30 09:04] kschweiger commented on #211
Which branch should I use as reference? `master-94X`, `master-102X`or `master`?

[2018-11-30 09:05] peruzzim commented on #211
master-102X starting from a 10_2_6 release area, see
https://twiki.cern.ch/twiki/bin/view/CMSPublic/WorkBookNanoAOD

[2018-12-05 13:23] peruzzim opened #268 "Add SubJet_hadronFlavour"

[2018-12-05 13:25] peruzzim opened #269 "Run updated MET filter for noisy EE crystals"
@zdemirag @ahinzmann

[2018-12-05 13:41] peruzzim opened #270 "Cleanup run2_nanoAOD_92X modifier"
as requested in cms-sw#25423

[2018-12-06 09:43] ahinzmann commented on #269
@lathomas and @eioannou Can you open a PR to add the config sniplet for the filter (without adding it to any sequence) to the cmssw/master in the cms-sw repository (i.e. not the nanoAOD one)?

[2018-12-06 09:44] mgratti opened #272 "Fall17 v2 electron id for era 94X2016"
Hi, sorry to come back to this, but it looks like recommendations for electron ids are evolving
and there is a concrete possibility that  Fall17 v2 is going to be recommended also for 2016. Can I add the vid nested bitmap for Fall17 v2 electron id for 94X2016?

[2018-12-06 09:49] peruzzim commented on #272
please see #267 (to be fixed because it does not run at the moment)

should be discussed how widely and strongly this is recommended by EGM because at the moment it's not on track to make it to the first production  @michelif @Sam-Harper @lsoffi @swagata87

[2018-12-06 10:34] lsoffi commented on #272
Hi, as we have stated today [https://indico.cern.ch/event/777545/contributions/3234587/attachments/1766655/2868714/micheli_EG_cmsweek_20181206_4.pdf] Fall17V2 is what EGM recommend to use also for 2016 if the analysis is starting now. If the analysis is already ongoing using 2016 80X ID one is still fine. So things are not evolving. I hope this make it clear how widely and strongly EGM recommend t

[2018-12-06 10:38] Sam-Harper commented on #272
Its fixed. Sorry, too many balls in the air

[2018-12-06 10:42] Sam-Harper commented on #272
Now pushed.  Now on this, as Livia says we would like this. However we are late and the nano can not wait indefinitely so if it misses the deadline, we can put in the next itteration.

[2018-12-06 10:44] peruzzim commented on #272
Ok, thanks. We will try to make it happen profiting from the fact that a central validation round has still to take place, and production should start with 2017 that is not affected by this.

[2018-12-06 10:50] peruzzim commented on #272
requested to be queued for integration here https://github.com/cms-sw/cmssw/issues/25425#issuecomment-444830591

[2018-12-06 11:17] Sam-Harper commented on #272
thanks Marco. Again we dont want to be unreasonable here though so if we're too slow, well thats our fault and the train leaves without us

[2018-12-06 13:10] lathomas commented on #269
https://github.com/cms-sw/cmssw/pull/25436

[2018-12-12 12:38] #272 closed, assigned to nobody

[2018-12-12 12:38] #269 closed, assigned to nobody

[2018-12-12 19:02] mbluj opened #275 "new MVA-based anti-e tau-Id"
Add MVA-based anti-e Tau-Id with a new training using 2017 samples (for 102X and further).

[2018-12-12 23:41] mbluj opened #277 "Crash of multithered run with master-102X on top of 10_2_6"
NanoAOD from master-102X run multithread crashes. It happens probably due to Rivet plugin.
This crash can be reproduced with master-102X (as for 12/12/2018) topic-merged on top of plain 10_2_6:
[code]
with configuration for 94X MiniAODv2 inputs by cmsDriver:
[code]
Single thread version runs fine.

[2018-12-12 23:48] mbluj commented on #277
Example output attached here: [out_test94XMiniAODv2_NANO_2thrds.log](https://github.com/cms-nanoAOD/cmssw/files/2673977/out_test94XMiniAODv2_NANO_2thrds.log)

[2018-12-14 15:01] sethcooper opened #278 "VID bitmap for electron HEEP ID"
Hi,

Would it be possible to add a VID compressed bitmap for the electron HEEP ID cut variables?

Cheers,
Seth

[2018-12-18 16:04] peruzzim commented on #277
The plugin seems coded in a non-thread-safe way. Will need to be temporarily disabled.

[2018-12-18 16:13] peruzzim opened #282 "GenWeightsTableProducer crashes when running on very few events"
The merge function in the Counter struct accesses elements beyond the end of an (empty) vector when trying to merge an empty Counter to a non-empty one.

https://github.com/cms-nanoAOD/cmssw/blob/078033feb18754c58b1222219493cb910975ad71/PhysicsTools/NanoAOD/plugins/GenWeightsTableProducer.cc#L68-L79

The for loops need to be protected by an `if (!other.vectorX.empty())` clause.
This is exposed whe

[2019-01-07 12:51] dellaric opened #283 "No trigger objects for muons on the 2016 NanoAOD ?"
Dear experts,

when looking at the recent NanoAOD processing, 14Dec2018, we happened to notice the absence of trigger objects associated to muons in the Run2016 data, in particular for both SingleMuon and DoubleMuon datasets (1).

In other words, the condition TrigObj_id == 13 happens to be always false. The previous Run2016 NanoAOD processing, 22Aug2018, seems to behave just like the 14Dec2018 on

[2019-01-22 13:32] arizzi commented on #283
I guess this customization should be updated for running on re-miniaod datasets
https://github.com/cms-nanoAOD/cmssw/blob/master/PhysicsTools/NanoAOD/python/triggerObjects_cff.py#L141

in particular when running nanoaod on latest remini from 2016 the 80X customizations are switched off, meaning also the trigger customization is off.
@peruzzim @fgolf what are the era customization to use for 2016 o

[2019-01-22 13:38] peruzzim commented on #283
Yes, I am afraid that was forgotten. The relevant modifier is run2_nanoAOD_94X2016.

[2019-01-22 13:44] arizzi commented on #283
@dellaric can you test a fix that triggers the l1obj definition update also on that era modifier and submit a PR (to this github)?

[2019-01-22 13:49] dellaric commented on #283
@arizzi

I'm afraid don't know how to fix the problem, otherwise I would have done it before writing this report ...

[2019-01-22 13:59] peruzzim commented on #283
@dellaric could you please try to change here:

https://github.com/cms-nanoAOD/cmssw/blob/226bca0d9cc12bb2f79b966491341f7383bfc98a/PhysicsTools/NanoAOD/python/triggerObjects_cff.py#L156-L159

to be `(run2_miniAOD_80XLegacy | run2_nanoAOD_94X2016).toModify(...`

[2019-01-22 14:47] dellaric commented on #283
@peruzzim

ok, I've tested the suggested fix using:

cmsDriver.py myNanoProdMc -s NANO --mc --eventcontent NANOAODSIM --datatier NANOAODSIM --no_exec --conditions 94X_mcRun2_asymptotic_v3 --era Run2_2016,run2_nanoAOD_94X2016

but I obtained the error:

  File "/home/dellaric/work/cms/CMSSW_10_2_10/python/PhysicsTools/NanoAOD/triggerObjects_cff.py", line 156, in <module>
    (run2_miniAOD_80XLegacy

[2019-01-22 14:59] dellaric commented on #283
Ok, fixed adding at the top:

from Configuration.Eras.Modifier_run2_nanoAOD_94X2016_cff import run2_nanoAOD_94X2016

time to find a file to run a test ...

[2019-01-22 15:40] dellaric commented on #283
Test done on

root://xrootd-cms.infn.it//store/mc/RunIISummer16MiniAODv3/DYJetsToLL_M-50_TuneCUETP8M1_13TeV-amcatnloFXFX-pythia8/MINIAODSIM/PUMoriond17_94X_mcRun2_asymptotic_v3_ext2-v1/270000/FEFC23FC-37C7-E811-97DA-0CC47AA53D86.root

No trigger objects with original PhysicsTools/NanoAOD/python/triggerObjects_cff.py

3 trigger objects for muons with the fixed version.

root [0]
Attaching file myNa

[2019-02-06 09:53] peruzzim commented on #283
Can you please open pull requests?

[2019-02-06 09:54] peruzzim commented on #282
Fixed by #286 and #291

[2019-02-06 09:54] #282 closed, assigned to nobody

[2019-02-06 09:55] dellaric commented on #283
Unfortunately, I can't, sorry. Please use the patch I attached in my last reply.

[2019-02-06 11:54] dellaric commented on #283
Apparently I managed to do a PR using the web interface, please let me know if it is ok.

[2019-02-08 09:01] peruzzim commented on #283
Analyzers please note: the selection applied, and the definition of stored quality bits, for electron and tau trigger objects was also incorrectly set to the version suited for 2017.
This was noted first for muons, as no object was passing the wrong selection there.

[2019-02-08 10:30] peruzzim commented on #283
Fixed by #296 #297

[2019-02-08 10:30] #283 closed, assigned to nobody

[2019-03-08 00:16] mzarucki opened #301 "Loose Muon ID missing in NanoAOD"
Dear NanoAOD experts,

It seems that the cut-based Loose muon ID is missing in NanoAOD.

Will this be integrated?

Best regards,
Mateusz

[2019-03-08 06:56] peruzzim commented on #301
Dear Mateusz,

 the loose ID is required as a preselection on all muons that get stored in NanoAOD:

https://github.com/cms-nanoAOD/cmssw/blob/ac5914ab1d4192f231b58665c5f040f794177fd5/PhysicsTools/NanoAOD/python/muons_cff.py#L56

[2019-03-08 06:56] #301 closed, assigned to nobody

[2019-03-08 09:11] mzarucki commented on #301
Dear Marco,

Thank you for clarifying this!

Best regards,
Mateusz

[2019-03-21 00:01] ktht commented on #277
I can sometimes reproduce the problem in CMSSW 10_2_10 release. When I run on unlimited number of ttH events (`process.maxEvents.input = cms.untracked.int32(-1)` I get the following error:

[code]

When running in `gdb` I get a massive stacktrace (see [this file](https://github.com/cms-nanoAOD/cmssw/files/2990391/rivet_fail.txt)) and the following error:
[code]

I suspect that maybe this line isn'

[2019-03-21 08:57] peruzzim commented on #277
I'm afraid the way the module is written is inherently not thread-safe. Actually it's not clear whether that is the only unsafe module, or if also running two copies of `GenParticles2HepMCConverter` creates issues.

GEN was made aware of the problem. Until they fix it, I'm afraid all what we could do is remove it from the standard running configuration (as we have done for the ongoing production,

[2019-03-21 13:08] peruzzim opened #303 "Add/document JEC override in NanoAOD production"
We should consider documenting somewhere, as an an example or in a customise function, how to override the JEC version with ESPrefer for private productions and tests.

[2019-03-21 13:37] peruzzim opened #304 "High pT muon ID + other additions"
@Fedespring

[2019-03-26 10:08] EmyrClement commented on #190
Is there any progress on the documentation (or tools) for including additional PDF weights?

[2019-03-31 02:44] ktht opened #306 "Expected Bool_t, got UChar_t instead"
MET filters do not follow uniform data types ([example](https://cms-nanoaod-integration.web.cern.ch/integration/master-102X/mc102X_doc.html#Flag)) which means that the users are expected to treat some extra MET flags differently when reading NanoAOD Ntuples. The data type changes due to this line:
https://github.com/cms-nanoAOD/cmssw/blob/ac5914ab1d4192f231b58665c5f040f794177fd5/PhysicsTools/NanoA

[2019-04-04 19:29] Fedespring commented on #304
@peruzzim the "other additions" have been included in the miniAOD pat::muon data format few days ago. Therefore, to be propagated to the nanoAOD, I should start from one of the latest integration build releases (10_0_6_X). But your recommendation is to start from 10_4_X/10_5_X. How do you want to proceed?

[2019-04-05 14:42] peruzzim opened #307 "Update leptonMVA training"
syncing with the updated training to go in UL

@sscruz

[2019-04-08 06:30] sscruz commented on #307
ciao @peruzzim
I have the weights for the updated training here: http://www.hep.uniovi.es/sscruz/LepMVA/,
and made the necessary changes to the code here: https://github.com/cms-nanoAOD/cmssw/compare/master-102X...sscruz:LepMVA_nanoAOD

[2019-04-09 09:30] peruzzim opened #309 "Bug in Tau_genPartFlav"
cms-sw#26163 should be followed up and corrected in this repository

[2019-04-09 09:36] IzaakWN commented on #309
Hey @peruzzim,
Please see the PR here: https://github.com/cms-nanoAOD/cmssw/pull/305
(I posted in the wrong repo a second time: https://github.com/cms-nanoAOD/nanoAOD-tools/issues/124)

[2019-04-09 12:33] #309 closed, assigned to nobody

[2019-04-09 12:59] peruzzim opened #312 "Additional variables for noise jet rejection"
store additional jet variables if deemed possibly useful for forward jet cleaning

[2019-04-09 13:01] arizzi opened #313 "Store variables that are useful for rejecting noise jets in 2017 2.7<eta<3.1"
if any variable *could* be useful to reject that noise (e.g. it could be eventually recommended in a jme official fixing recipes) please let's add it now.
E.g.:
- jet shapes
- ecal crystal details

@lathomas @peruzzim @fgolf   (please CC others)

[2019-04-09 13:02] arizzi commented on #313
dup of #312

[2019-04-09 13:02] #313 closed, assigned to nobody

[2019-04-09 13:02] arizzi commented on #312
@lathomas

[2019-04-09 14:37] peruzzim opened #314 "Add EGM scales and smearings for 2018 datasets"

[2019-04-09 15:07] peruzzim commented on #264
also add L1 un-prefireable event bit (needs cms-sw#26378 + add to MINIAOD content)

[2019-04-10 14:57] peruzzim opened #315 "Fix Electron_cutBased_HLTPreSel consistency between 102X and 106X"
see https://github.com/cms-nanoAOD/cmssw/pull/308#issuecomment-481269537 cms-sw#26389

@Sam-Harper

[2019-04-16 13:30] peruzzim commented on #307
Thanks - but we will need to protect the modifiers currently in use for the NanoAODv4 production campaign with new modifiers. Will keep you posted.

[2019-04-16 13:41] peruzzim commented on #275
#276 #317

[2019-04-16 13:41] #275 closed, assigned to nobody

[2019-04-16 13:47] peruzzim commented on #268
is this still desired? @XavierAtCERN please provide a prototype implementation

[2019-04-16 20:38] #270 closed, assigned to peruzzim

[2019-04-16 20:39] peruzzim opened #320 "Add L1 un-prefireable bit"
needs cms-sw#26461 and backport

[2019-04-16 20:40] peruzzim commented on #264
continues as #320

[2019-04-16 20:40] #264 closed, assigned to peruzzim

[2019-04-16 20:40] #277 closed, assigned to peruzzim

[2019-04-16 20:40] #306 closed, assigned to peruzzim

[2019-04-16 20:42] peruzzim opened #321 "Re-introduce HTXS workflow"
... when MT-safe

[2019-04-16 20:52] peruzzim commented on #178
closing this old issue

[2019-04-16 20:52] #178 closed

[2019-04-17 07:11] peruzzim commented on #278
is this still desired? for which version of the HEEP ID? there is a new one being introduced now by EGM (7.1) @Sam-Harper

[2019-04-17 07:16] peruzzim commented on #314
I can help implementing this if someone from EGM assists me with the technical aspects - @Sam-Harper @lsoffi who can I ask? The recipe on the twiki includes unmerged code... thanks

[2019-04-17 08:13] Sam-Harper commented on #314
the scale & smearings for 2018 are not final and thus can not go in the nano. We have the final corrections from Rajdeep but need to validate them.

[2019-04-17 08:14] Sam-Harper commented on #278
I would go for 7.1, although 7.0 and 7.1 are almost identical here (lower et cut) and scales with calo rather then ep-comped energy for the isolation.

[2019-04-17 08:23] Sam-Harper commented on #314
@rchatter

[2019-04-22 21:46] ktht opened #322 "Expression parsing not working in object tables"
It seems that the parser does not handle long conditionals correctly, eg:
https://github.com/cms-nanoAOD/cmssw/blob/4bbadca4cf241f9536dc6d79d670af03704478fa/PhysicsTools/NanoAOD/python/muons_cff.py#L109

In event `1:6888:978076` in file [*] there's one muon w/ jetRelIso = -2, which should not be possible. However, when I duplicate the same branch and give it a new name (e.g. `jetRelIso_new`) the v

[2019-04-23 06:39] arizzi commented on #322
are you sure it is not a version of NANOAOD affected by this era Switch ?
https://github.com/cms-nanoAOD/cmssw/blob/4bbadca4cf241f9536dc6d79d670af03704478fa/PhysicsTools/NanoAOD/python/muons_cff.py#L133

On Mon, Apr 22, 2019 at 11:47 PM Karl Ehatäht <notifications@github.com>
wrote:

[2019-04-24 09:14] Sam-Harper opened #323 "Support for re-running E/gamma energy scales & smearing"
There has been a user request to re-run the photon scales & smearing in nanoAOD. This is impossible as it is missing whether the seed crystal is in gain12,6 or 1.

https://hypernews.cern.ch/HyperNews/CMS/get/egamma/2222/1/1.html

Andrea R. suggested to open an issue here. For photon support its relatively trivial, for electron support, it is harder due to the E/p combination and would likely need

[2019-04-24 09:25] arizzi commented on #323
can we compute the uncertainties on the electrons without those 8 variables?

I mean the idea would be
- compute central values when making nanoaod (with as many vars as you need in input)
- compute variations from nanoaod (hopefully not needing a large number of input variables)

[2019-04-24 13:54] Sam-Harper commented on #323
depends. So the 8 variables are for the E/p combination. For some electrons, the ecal energy is effectively ignored, for some its the sole measurement. So by not doing the combination you dont know which is which.  But thinking about it, if we apply the uncertainties on the ecal energy to the electron energy, at worst we're just conservative (baring edge cases) so I think that would be totally fin

[2019-04-24 19:50] ktht commented on #322
Thanks, I totally overlooked it. I found a similar problem with the same symptoms in my custom NanoAOD code so I assumed that the problem exists here, too, but I was wrong. Sorry for the noise.

[2019-04-24 19:50] #322 closed, assigned to nobody

[2019-04-26 09:18] peruzzim opened #325 "Re-sync DeepAK8 when running on 102X and earlier from 106X"
the default version changed in 10_6_0_pre4, we should either update master-102X to run V2 or set modifiers in master-cmsswmaster to keep V1 when running on older samples from 10_6_X

[2019-04-26 13:28] peruzzim opened #326 "Store additional low pt jets for MET Type-1 corrections"
the idea is to store in a very packed form (just the info needed to propagate JEC updates to Type-1 MET) the jets that do not make it to the Jet_ collection (pt<15)

needs testing of additional storage needs

unclustered MET should also be checked

[2019-04-26 18:52] arizzi commented on #326
is there a minimum cut on ptRaw that can be applied ?

[2019-04-30 14:26] epalencia opened #330 "LHE weights"
Dear experts,
this is a follow up of my talk in today's Top PAG meeting [1]. The issue is that, given that LHE weights are not always stored in the same order in miniAOD (as reported here [2]), we believe these weights are not properly stored in nAOD. Could you please check?

   Enrique.

[1] https://indico.cern.ch/event/816475/contributions/3408242/attachments/1836494/3009192/topPAG_30apr2019.pdf

[2019-05-01 13:53] ktht commented on #330
Hi,

(disclaimer: I'm not a nanoAOD developer, but an early adopter)

As you mentioned, the LHE scale weights are not stored in the same order as in miniAOD because the order varies from MiniAOD to MiniAOD. For this reason, the access to LHE scale weights in NanoAOD is made universal by sorting the LHE scale weights in the following order:

[code]

This regex should cover all conventions:
https://

[2019-05-02 07:50] epalencia commented on #330
Thanks a lot for the explanations. Then, ME scale and PDF weights are ok (although different samples might have different PDF sets stored). But, what about PS weights? Something similar as for the ME scale weights is done?

[2019-05-02 09:32] peruzzim commented on #330
@epalencia I'm afraid for PS weights we just take the order as given by `GenEventInfoProduct::weights()`
https://github.com/cms-nanoAOD/cmssw/blob/9a2728ac9f44fc45ba1aa56389e28c594207c0fe/PhysicsTools/NanoAOD/plugins/GenWeightsTableProducer.cc#L240-L246

To speed up checking and developing a fix, do you have an example of two files where you can prove that this issue happens?

[2019-05-02 09:35] peruzzim commented on #330
@ktht I think you are correct, do you (or others) have a feeling on how many samples this is present? I remember at some point also this syntax changed (`mg_rwgt` maybe? or something similar).
As this is crucial information to use these samples, we could add this information.

[2019-05-02 13:03] epalencia commented on #330
Below is the requested info: an example of an event with PSweights=1 in nAOD but sensibkle values in mAOD. Let me know if you need anything else.

===NanoAOD===
Dataset: /TTTo2L2Nu_TuneCP5_13TeV-powheg-pythia8/RunIIAutumn18NanoAODv4-Nano14Dec2018_102X_upgrade2018_realistic_v16-v1/NANOAODSIM
File: /store/mc/RunIIAutumn18NanoAODv4/TTTo2L2Nu_TuneCP5_13TeV-powheg-pythia8/NANOAODSIM/Nano14Dec2018_102X_

[2019-05-03 13:16] peruzzim commented on #321
should test cms-sw#26597

[2019-05-06 08:08] peruzzim opened #332 "Tagged proton information in NanoAOD"
@jan-kaspar @forthommel please add others if participating to code development

[2019-05-06 08:55] peruzzim commented on #320
#328 #333

[2019-05-06 08:55] #320 closed, assigned to peruzzim

[2019-05-06 08:55] peruzzim commented on #235
#328 #333

[2019-05-06 08:55] #235 closed, assigned to peruzzim

[2019-05-06 08:57] peruzzim commented on #211
#271 #334

[2019-05-06 08:57] #211 closed, assigned to nobody

[2019-05-06 09:12] jan-kaspar commented on #332
Many thanks @peruzzim ! Do I understand correctly that this is an invitation to provide the nanoAOD code for tagged/PPS protons? In fact, we started to discuss this few days ago within PPS. What is the deadline for having the nanoAOD in the UL re-reco?

FYI: @fabferro @vavati @antoniovilela

[2019-05-06 14:34] peruzzim commented on #325
after discussion: will switch to V2 also in master-102X @hqucms @gouskos

[2019-05-07 10:05] mondalspandan opened #339 "Store DeepJet (DeepFlavour) C discriminator"
Currently NanoAOD stores only Jet_btagDeepFlavB for the DeepJet tagger (as per the documentation of 102X). We are planning to test DeepJet as a c-tagger for VHcc 2017 & 2018 analysis and would like to have Jet_btagDeepFlavC available in future NanoAOD campaigns.

[2019-05-07 15:21] #325 closed, assigned to nobody

[2019-05-07 20:44] peruzzim commented on #339
#340 #342

[2019-05-07 20:44] #339 closed, assigned to nobody

[2019-05-07 21:05] #326 closed, assigned to nobody

[2019-05-07 21:05] peruzzim commented on #307
#336

[2019-05-07 21:05] #307 closed, assigned to nobody

[2019-05-07 21:07] peruzzim commented on #321
#341, needs cms-sw#26597 cms-sw#26657

[2019-05-07 21:07] #321 closed, assigned to nobody

[2019-05-07 21:08] peruzzim commented on #323
gain of the seed crystal introduced with #341, the rest (variables to rerun the E/p combination) is not in the scope of this data format

[2019-05-07 21:08] #323 closed, assigned to nobody

[2019-05-07 21:10] peruzzim opened #344 "Enrich dressed lepton information"
... with tau inheritance and extended acceptance

@emanca @intrepid42

[2019-05-08 09:04] peruzzim commented on #315
Fixed with #338 see https://github.com/cms-nanoAOD/cmssw/pull/338#issuecomment-490057018

[2019-05-08 09:04] #315 closed, assigned to nobody

[2019-05-08 11:06] Sam-Harper opened #345 "Add recipe for to use Ele32_WPTight throughout the year for 2017 data"
It would good to allow Ele32 in 2017 to be used in nano AOD.

https://hypernews.cern.ch/HyperNews/CMS/get/egamma-hlt/263/1/1/2/1.html

It shouldnt be overly difficult to do nor take any space, just we need to do it.

[2019-05-08 12:21] andrzejnovak opened #346 "Why do we have both master and master-cmsswmaster?"
It's confusing and not documented in the twiki https://twiki.cern.ch/twiki/bin/view/CMSPublic/WorkBookNanoAOD#Recipe_for_the_current_HEAD_of_N

[2019-05-08 12:58] peruzzim commented on #330
#331 #348

[2019-05-08 12:59] ktht opened #349 "bjetMVA deprecated?"
Why is `bjetMVA` in `jetTables` even though its output is never read?

https://github.com/cms-nanoAOD/cmssw/blob/cfa6b737a52c57fcc29573dfd703a6f3c1cce1f6/PhysicsTools/NanoAOD/python/jets_cff.py#L557

[2019-05-08 13:47] nsmith- opened #350 "NanoGEN"
Re-opening in correct repo.

I think it would be really useful for many people to be able to easily (e.g. via cmsDriver) add a NanoAOD-like output starting from the GEN data tier, for MC studies.  One would have access to all the nice gen additions included in the current NanoAOD, and any already-produced samples could easily be compared to newly generated samples, which can be made privately quit

[2019-05-08 14:25] peruzzim opened #352 "Update HTXS to stage 1.1"
... when available in CMSSW

[2019-05-09 03:52] arizzi commented on #350
I think it may make a difference if plan to have central production of thia nanogen or not. If not any kind of config is fine.
If we plan for central prod I guess we need an official NANOGEN and NANOEDMGEN format/tier and proper adaption of cmsDriver

[2019-05-09 10:35] yhaddad commented on #352
The PR #26724 has been submitted to the upstream CMSSW with the new HTXS stage 1.1 binning.

[2019-05-09 22:50] gpasztor opened #356 "Cut-based electron ID variables in nanoAOD"
While studying electron ID optimisation for a SUSY analyses, we discovered that some of the variables used in the cut-based electron ID are missing from nanoAOD:
- dEtaInSeed
- dPhiIn
- relIsoWithEA (maybe same as Electron_pfRelIso03_all?)
Could these be added to allow analysers to study performance on their own signals and to adjust cuts if/when needed?
Thanks, Gabi

[2019-05-14 20:39] peruzzim commented on #356
The central NanoAOD is not meant to develop or optimize object ID on top of it.
The design choice was to support ID decisions, analyzers can easily run a private version on a small set of datasets for this kind of studies, adding the variables that are needed.
Otherwise it would be impossible to keep the data format compact enough.

[2019-05-14 20:39] #356 closed, assigned to nobody

[2019-05-15 08:31] peruzzim commented on #346
It's because of historical reasons, the twiki actually always points to master-cmsswmaster.
I agree it's confusing, we can update it in a moment of less intense development.

[2019-05-15 08:31] #346 closed, assigned to nobody

[2019-05-16 11:59] peruzzim commented on #345
#359 #365

[2019-05-16 11:59] #345 closed, assigned to nobody

[2019-05-16 12:00] peruzzim commented on #314
#357 #365

[2019-05-16 12:00] #314 closed, assigned to nobody

[2019-05-16 12:17] peruzzim commented on #332
this will not be in time for UL, I drop the milestone but please continue the development and we will integrate it when it arrives

[2019-05-16 15:16] guitargeek opened #366 "Producing the right NanoAOD from previous MiniAOD version"
Hello all,

I tried to find a hypernews about nanoAOD and looked in [1] if there are some instructions on where to ask for NanoAOD support, but I could not find something specific. Therefore, I just ask here. Please tell me if this is not the right place and I will do it right next time!

Now my question: for my analysis I need `WWZJetsTo4L2Nu` samples for 2016, 2017 and 2018. For the last two yea

[2019-05-20 07:26] peruzzim commented on #366
answered on HN

[2019-05-20 07:26] #366 closed, assigned to nobody

[2019-05-20 07:42] guitargeek commented on #366
Thank you very much, I must have missed the nanoAOD hypernews then. I'll look for it again!

[2019-05-20 11:57] peruzzim opened #368 "Fix GenDressedLepton_hasTauAnc variable in 102X"
DQM tests show that this variable is always false when running in 102X, while it shows true for some leptons when running in 106X, on the same MINIAOD files in all releases (102X,94X,80X).

@emanca @intrepid42

[2019-05-20 12:12] peruzzim commented on #352
#367 #369

[2019-05-20 12:12] #352 closed, assigned to nobody

[2019-05-20 12:13] peruzzim commented on #344
done what it could for the moment in #355 #367

[2019-05-20 12:14] peruzzim commented on #330
after investigations by @epalencia, added check for PS weight multiplicity == 46 in 2018 in #367 #369

[2019-05-20 12:14] #330 closed, assigned to nobody

[2019-05-20 12:16] peruzzim commented on #304
#364 #369

warning, the new version of highPt muon ID is technically not reproducible when running from 102X, and this leads to a different result than when run from 106X

[2019-05-20 12:16] #304 closed, assigned to nobody

[2019-05-20 13:42] mzarucki opened #370 "Keep lepton transverse mass variable from (mini)AOD?"
Dear NanoAOD experts,

Would it be desirable to keep the lepton transverse mass variable (mt) that is already stored at AOD and miniAOD levels?

I understand that it's use is analysis-specific and one can have various definitions, so if there are objections, we can re-calculate it privately..

Best regards,
Mateusz

[2019-05-20 15:39] Fedespring commented on #304
ciao Marco,
this is expected, since in 10_4_X the cuts insied the HighPtID selector
have been modified. Different results are expected by applying the same
selector in nanoAOD in 10_2 and 10_6

On Mon, May 20, 2019 at 2:16 PM peruzzim <notifications@github.com> wrote:

[2019-05-21 13:23] mseidel42 commented on #368
Link to DQM: https://github.com/cms-nanoAOD/cmssw/pull/355#pullrequestreview-238962849

[2019-05-21 15:12] mseidel42 commented on #190
Hi, just adding some additional thoughts here:

* I think a mantissa size of 8 should be sufficient for generator weights. Even a precision of 4 just gives errors <1% on the weighted distributions, see this part of plot for lepton pt in W decays:
![image](https://user-images.githubusercontent.com/1311783/58107055-6692bd80-7be9-11e9-9649-ff8c1fd209f0.png)
(green: precision=14, black: precision=8, p

[2019-05-21 15:33] kdlong commented on #190
To add to this: we are working on changing the format of the weights at GEN level. I think it is more productive to put effort into making the products stored in EDM more clear before trying to parse what is there in the current non-optimal organization.

Specifically we think introducing new products with the weight storage modified (likely to have separate vectors for each class of weights: scal

[2019-05-21 15:35] kdlong commented on #190
Related question: is it feasible to configure a sample in central production to run in a mode that would keep more weights, if an analysis knows in advance that they will use a larger set of variations?

[2019-05-27 05:52] ktht opened #373 "Sudden spike in memory consumption"
While profiling DeepTau IDv2 implementation, I came across a problem where one particular event triggers ~500MB increase in memory consumption (both VSIZE and RSS). This is clearly a problem because the RSS memory goes above 2000MB which is the default limit in CRAB jobs.

The problem is present in vanilla CMSSW 10_2_10 release and in CMSSW 10_2_14 release based on this fork (no bells or whistles,

[2019-05-27 08:02] peruzzim commented on #373
the indications you collected do not point to a NanoAOD-specific issue, I suggest you report the issue to the upstream cmssw repository, or on the framework HN

[2019-05-27 10:30] ktht commented on #373
Agreed. The jump in memory consumption happens with every module or task. It looks like something causes the event processor to re-read the input file or cache something without cleaning up the memory.

[2019-05-30 10:21] dseith opened #374 "jetId in 2018"
I would like to know which jetid recommendations are used for 2018 NanoAOD v4 and comming v5 samples for AK4Jets.

Judging from the code it seems to me that currently 2017 recommendations are used also for 2018:
https://github.com/cms-nanoAOD/cmssw/blob/7f9a42e23a5737d1c3c51581c867e14ccab89382/PhysicsTools/NanoAOD/python/jets_cff.py#L60-L65

Also the producer has not been updated yet with the curr

[2019-05-30 13:05] arizzi commented on #374
I'm not sure I understand.. the cmssw selector is what is recommended in the Twiki you pointed to.
If there is a discrepancy in the value on the twiki table with those implemented by the producer I guess that's something to report to JME

[2019-05-30 15:36] dseith commented on #374
yes thats basically the point. The values in the tables seem to differ from what is implemented in the producer. I will check with jme.
I was just wondering if you maybe use something else in addition to this producer in NanoAOD production which I missed while checking the code. But it seems not.
Thanks!

[2019-05-30 15:36] #374 closed, assigned to nobody

[2019-06-03 21:32] peruzzim commented on #368
This was just due to cms-sw#26661 missing in the testing area. Fixed by #375.

[2019-06-03 21:32] #368 closed, assigned to nobody

[2019-06-05 22:32] nsmith- commented on #350
I think this is likely not something interesting for central production.  Although, I'd like to get it to work with cmsDriver.  Is there an idiom for adjusting nano configuration via cmsDriver already, say to include extra information as some groups might want to do?

[2019-06-05 22:49] nsmith- commented on #92
One way to accomplish this while restricted to 1D arrays is to use references into a separate array.
For example, consider an event with 3 jets, having 1, 0, 4 constituents, respectively.  One could fill arrays so that:
[code]
Then a user could access these via a double loop:
[code]
This is essentially how [JaggedArray](https://github.com/scikit-hep/awkward-array) works.  There's some more compact

[2019-06-05 22:56] arizzi commented on #92
... or you can just navigate backwards, i.e. store the
PFCands_pt
PFCands_eta
PFCands_phi
PFCands_jetIdx
if candidates are sorted by jetIdx the compression should be quite effective in reducing the size of this

[2019-06-05 23:00] arizzi commented on #350
you can use customize, but anything more complex need changes into cmsdriver itself

[2019-06-06 07:48] lathomas commented on #312
@arizzi  So we haven't yet identified good variables (on top of what's already saved in NANO) but something that could turn out to be useful is to store the bunch crossing position (maybe it's already there but can't find it). This is only an integer so I guess it should be fine. Can you confirm?

In fact in the future it would be great to have more information about the bunch crossing structure a

[2019-06-06 10:41] arizzi commented on #312
I guess the BX number can be added but then you need a filling schema to know where exactly it is in a train... or you wanted to store directly something more elaborated (e.g. the position in the train?)

[2019-06-06 11:02] lathomas commented on #312
For now, the BX number would already be useful to have yes ! Thanks !

[2019-06-06 11:08] peruzzim commented on #312
Before starting to add variables to support studies that are not yet really defined - it seems to me - I would suggest to devise a clear strategy to use this information. Tests can be done in small private productions for development.

[2019-06-06 11:21] lathomas commented on #312
So the following plots [1-2] were made using this exact information (the bx nb from MINIAOD that I manually mapped to the bx position using the filling schemes from WBM ).

All I ask for here is an integer (from 0 to ~4000).

For additional variables, I agree the strategy has to be defined better.

Thanks,

[1] https://indico.cern.ch/event/716249/contributions/2944680/attachments/1621895/2580972/M

[2019-06-07 14:33] nsmith- commented on #92
`Jet_PFCandOffsets` would have less entries than `PFCands_jetIdx` and be equally compressible.  Plus, computing the inverse in the analysis code would be slightly more complicated: at best `while(PFCands_jetIdx[iCand++]==iJet)`, and at worst (i.e. someone will write it this way) a full scan each time.

[2019-06-12 11:37] mzarucki opened #376 "Generator Filter Efficiencies in NanoAOD"
Dear NanoAOD experts,

I am currently using the nanoAOD framework for our analysis, which interprets in signal models that contain genHT and genMET generator filters. To get the correct weights, we need to know the corresponding filter efficiencies. Previously we calculated these separately using information from the GenFilterInfo header in miniAOD, which does not seem to be stored in nanoAOD.

Th

[2019-06-14 10:52] mbluj opened #377 "DeepTauID for master and UL (106X)"
DeepTauID - tauID based on DNN - has just been added to MiniAOD sequences in both master and UL (106X) branches of official CMSW (cms-sw#26796, cms-sw#27146). Therefore, we (tau POG) would like to store these novel tauID also in NanoAOD (w/o rerunnig the algorithm) aiming for NanoAOD v1 of UL production. Is it still feasible that update via nanoAOD repository goes to UL release? If so, is master-c

[2019-06-22 14:03] ktht opened #380 "Disable IMT by default"
According to [NanoAOD workbook](https://twiki.cern.ch/twiki/bin/view/CMSPublic/WorkBookNanoAOD) ROOT IMT should always be disabled via cmsDriver.py, so why not make it the default? Is it because this setting doesn't work in central NanoAOD production or...?

[2019-06-24 09:24] arizzi opened #381 "PSWeights are not stored in a coherent way"
it seems we are not storing coherently the PSWeights.
Despite the doc saying "PS weights (w_var / w_nominal)" sometimes the ratio is not ~1.

This seems to be due to the fact that at
https://github.com/cms-nanoAOD/cmssw/blob/master/PhysicsTools/NanoAOD/plugins/GenWeightsTableProducer.cc#L244

we divide by w0 being defined as lheProd.originalXWGTUP() that is not always the same as
genProd->weight()

[2019-06-24 11:28] peruzzim commented on #381
@epalencia did you meet this issue when looking at PS weights for #330?

[2019-06-24 12:36] epalencia commented on #381
As far as I know, lheProd.originalXWGTUP() is the correct parameter to normalize. And this is somehow documented here: https://twiki.cern.ch/twiki/bin/view/CMS/TopModGen#Event_Generation

-----------------------------------------------------------------------------------------------------------------
Please note that there's a 1-2% mismatch in about 20% events for the nominal value seen from PS re

[2019-06-24 13:44] arizzi commented on #381
you may have missed that the value is off by a factor 300.
I doubt that the effect of PS weights is to change the cross section of such factor :-)

[2019-06-24 13:54] epalencia commented on #381
No I didn't :) . Could you send me the file used so I can try to have a look? I will also report it to TMG. And what is the difference between the two set of numbers you sent?

[2019-06-24 14:01] gmandorl commented on #381
/EWK_LLJJ_MLL-50_MJJ-120_TuneCP5_PSweights_13TeV-madgraph-pythia8/RunIIFall17NanoAODv4-PU2017_12Apr2018_Nano14Dec2018_102X_mc2017_realistic_v6-v1/NANOAODSIM
/LLJJ_INT_SM_5f_LO_TuneCP5_PSweights_13TeV_madgraph-pythia8/RunIIFall17NanoAODv4-PU2017_12Apr2018_Nano14Dec2018_102X_mc2017_realistic_v6-v1/NANOAODSIM

[2019-06-24 14:04] epalencia commented on #381
I'm sorry but I might need a bit of explanation... The two set of numbers correspond to two different files? If that is the case, EWK_LLJJ is the one with weights around 300 and LLJJ_INT the one with weights around 1?

[2019-06-24 14:13] arizzi commented on #381
just take one of the two, e.g. EWK_LLJJ.

Weights are around 300 because we divide by originalXWGTUP() rather than by weights[0]  and you claimed that this is the right choice.

[2019-06-24 14:17] epalencia commented on #381
PSweight in the second Scan is different from PSweight in the first Scan?

[2019-06-24 14:19] arizzi commented on #381
they are two different files... one where genWeight = originalXWGTUP() and the other where they differ

[2019-06-24 14:59] epalencia commented on #381
I have been able to reproduce your first set of numbers using this file /eos/cms/store/mc/RunIIFall17NanoAODv4/EWK_LLJJ_MLL-50_MJJ-120_TuneCP5_PSweights_13TeV-madgraph-pythia8/NANOAODSIM/PU2017_12Apr2018_Nano14Dec2018_102X_mc2017_realistic_v6-v1/70000/E7BA2ADC-F913-3242-9963-1D3285278DA5.root: PSweights are around 290, LHEWeight_originalXWGTUP around 0.0034 and genWeight around 1.

What I do not u

[2019-06-24 22:48] agrohsje commented on #381
Let me add one comment. genWeight should be a vector that comes from P8 and contains the PS weights and the nominal PS weight (1 or 0.999) plus one additional entry at first place, which is the nominal PS weight * hadronization eff. For some process we evaluate this number (suc. had/total trials of hadr.) and multiply it with the default PS weight from Py8. So the order is
PS weight * eff ; PS wei

[2019-06-25 12:09] peruzzim commented on #373
Will be followed up in cms-sw#26954

[2019-06-25 12:09] #373 closed, assigned to nobody

[2019-06-25 12:15] peruzzim commented on #377
Done in cms-sw#27226, cms-sw#27227, exceptionally to allow for a very fast turnaround for UL preparation. Will come to this repository as soon as there is a new version of CMSSW_10_6_X to merge here.

[2019-06-25 12:15] #377 closed, assigned to nobody

[2019-06-25 16:47] NJManganelli commented on #381
Considering the shift to using weights in place of dedicated samples for 2017 and 2018, is there a comprehensive list of resources for analyzers to use when accessing and applying weights?

[2019-06-26 07:35] arizzi commented on #381
btw for 2018 in most of the samples I've seen there are no PSWeights... is that expected?

[2019-06-26 07:53] epalencia commented on #381
Yes, there was a bug. This should be fixed in v5 production. More details here https://github.com/cms-nanoAOD/cmssw/issues/330.

[2019-06-26 08:01] peruzzim commented on #376
I don't think we have such a module, if it is based on MiniAOD information you are welcome to contribute it.

[2019-06-26 13:52] epalencia commented on #381
Does anyone know why here

https://github.com/cms-nanoAOD/cmssw/blob/master/PhysicsTools/NanoAOD/plugins/GenWeightsTableProducer.cc#L244

PS weights are divided by w0 (lheProd.originalXWGTUP()) while here

https://github.com/cms-nanoAOD/cmssw/blob/master/PhysicsTools/NanoAOD/plugins/GenWeightsTableProducer.cc#L276

genWeight is used?

[2019-06-26 14:03] adewit commented on #381
The second case is only called if there are no LHE weights (ie there is no lheProd.originalXWGTUP() to divide by).

[2019-06-26 14:06] arizzi commented on #381
I fail to understand one thing, given that central values that people use is with genWeight (at least when not using PSWeights at all), shouldn't the ratio simply be against genWeight?

[2019-06-26 14:16] adewit commented on #381
Yes, if the PS weight variations are effectively multiplied by genWeight, which Alexander's message above suggests is the case. I think when working on this implementation I also followed the instructions in the twiki linked from this comment: https://github.com/cms-nanoAOD/cmssw/issues/381#issuecomment-504990973 , and it so happened to be that the sample I tested on had lheProd.originalXWGTUP() =

[2019-06-29 16:43] py-craft opened #383 "miniaod -> nanoaod bjet Discriminator"
Hello everyone, I am moving from miniaod to nanoaod, and I have some doubts about bjet Discriminators. I used 3 bjet discriminators in my Analyze.
1. "pfDeepCSVJetTags:probb"
2. "pfDeepCSVJetTags:probbb"
3. "pfCombinedInclusiveSecondaryVertexV2BJetTags"

The third one i have found which is the relevant, it is Jet_btagCSVV2.
But first two i am not sure, what are they.

Thanks in advance!
Vardan Alo

[2019-07-07 17:13] NJManganelli commented on #383
The first and second of these are combined into one discriminant for overall b-tagging of a jet (i.e., not available separately):
Jet_btagDeepB | Float_t | DeepCSV b+bb tag discriminator

Though you didn't ask, the b-tagging algo DeepJet (formerly known as DeepFlavour) is a combination of all 3 discriminants: b + bb + lepb
Jet_btagDeepFlavB | Float_t | DeepFlavour b+bb+lepb tag discriminator

Chee

[2019-07-09 16:11] agrohsje commented on #381
dear @adewit @epalencia @arizzi : there seems some confusion. let me try to clarify. i hope i can write it up such that it is easy to understand. we can also have a direct chat if that is helpful.
the genweight vector is the weight vector (pythia.info.weight()) that comes  from pythia 8. there is 1 additional entry at the first position which we add in cms and this is the first pythia 8 weight * h

[2019-07-10 09:01] #383 closed, assigned to nobody

[2019-07-10 09:04] peruzzim commented on #370
@mzarucki this is a redundant information, it can be calculated even with a free function, and we would not cover the cases where one wants do also use other objects in the transverse mass.
I think we should not include it, if you want to discuss further please follow up privately.

[2019-07-10 09:04] #370 closed, assigned to nobody

[2019-07-17 07:51] py-craft opened #384 "L1 trigger information is not available"
Hello. I want to access L1 trigger (L1_TripleJet_100_85_72_VBF) in my analysis but i have such error message

if not branch: raise RuntimeError, "Unknown branch %s" % branchName
RuntimeError: Unknown branch L1_TripleJet_100_85_72_VBF

i accessed by this way: getattr(event, L1_TripleJet_100_85_72_VBF, False)

Dataset is: dataset=/VBFHToBB_M-125_13TeV_powheg_pythia8_weightfix/RunIIFall17NanoAODv4-PU

[2019-07-30 13:54] kpedro88 commented on #381
Relevant note for this issue: @kdlong is trying to implement smarter storage of weights at the GEN level, which would hopefully make it much easier for nanoAOD to pick out the values it wants to store. This is aimed at the UL samples.

[2019-07-30 13:59] kpedro88 opened #385 "Storage of GenLumiInfoHeader configDescription"
Currently, a combination of PAG MC conveners, PPD, and DMWM are pursuing a new strategy for production of large signal scan samples. It uses the "RandomizedParameters" method, invented for and already used by SUSY, to vary the model parameters randomly, generating events for many signal models in a single request.

In order to identify the exact model for any given event, a string is stored in `Ge

[2019-07-30 14:02] kpedro88 opened #386 "Storage of trigger prescales"
Some analyses use prescaled triggers, either for signal regions or control regions. As far as I can tell, this information is not stored in nanoAOD, nor is there any central provision to add it in an extended format. Is there a recommendation about how to access this information?

[2019-08-06 22:15] kdlong commented on #350
Personally I think this really could be useful for central production. There would be a lot of advantages to producing samples that people can easily analyze in advance of full production. How much work it would be to support?

[2019-08-09 10:24] scodella opened #389 "Saving LHE weights in nanoAOD when using randomised parameter scans"
Hi,

there is an increasing interest in CMS in using randomised parameter scans for production of BSM model signal events [1]. This has been used in SUSY since long time. The randomised parameter fragment is not using the ExternalLHEProducer, so lhe weights are stored (with different structure) in a GenEventInfoProduct collection rather than a LHEEventProduct collection, and this breaks the storin

[2019-08-22 14:33] peruzzim opened #394 "Branch out master-106X and update master-cmsswmaster to 11_0_X"
We have now three maintained branches here:

- master-102X (based on 10_2_16 at the moment)
- master-106X (based on 10_6_2 at the moment)
- master-cmsswmaster (based on 11_0_0_pre6 at the moment)

Please take this into account when developing new features, and share here any issue found.

[2019-09-09 13:08] shane-breeze opened #397 "HLT Muons in TrigObj collection"
I've looked for HLT muons with the DYJetsToLL nanoAOD samples in the TrigObj collection by requiring an id of 13, but no such entries exist. However, a dR match between offline reconstructed muons and a TrigObj exists with id==1, supposedly a jet. Does some preference need to be placed on assigning the TrigObj to a muon rather than a jet? Currently the TrigObj filter bits for the HLT muons are los

[2019-09-09 14:40] peruzzim commented on #385
I have a prototype implementation of this and will do a PR soon.
Is this string empty when the dataset is not one of those produced with the RandomizedParameters method (in particular on fastsim samples)?
I need a way to detect when to split the weight sums based on this string, and the handles I can think of are: 1) whether the sample is processed with the `--fast` cmsDriver option 2) the string

[2019-09-09 14:59] kpedro88 commented on #385
As far as I know, the configDescription string is only used for RandomizedParameters MC samples. (`setConfigDescription()` is only called here: https://github.com/cms-sw/cmssw/blob/156d29f7e8e2d333783ec6dc0415dc97352d4d02/GeneratorInterface/Core/src/BaseHadronizer.cc#L46.)

Please note that RandomizedParameters can be and has been used with any detector simulation (fast or full).

[2019-09-11 12:03] peruzzim commented on #389
Please see #398 storing the description string (i.e. the model) from GenLumiInfoHeader.
Could we use that reliably (i.e. non-empty `GenLumiInfoHeader::configDescription()`)  to detect whether a sample is using the randomized parameter scan feature?

[2019-09-11 12:04] peruzzim commented on #385
addressed in #398

[2019-09-11 12:04] #385 closed, assigned to peruzzim

[2019-09-11 12:04] #394 closed, assigned to nobody

[2019-09-11 12:13] peruzzim commented on #384
I think it was fixed for NanoAODv5 (#362), please check that.

[2019-09-11 12:31] peruzzim commented on #397
I am not aware of any preference of such kind. The only thing that looks like a cleaning only happens between HLT objects with the same id, so it should have no effect.

Could I ask you to check in the corresponding MINIAOD sample, whether the HLT muons are there and pass the selection defined here?

https://github.com/cms-nanoAOD/cmssw/blob/4147ed99eef33d0145db3ae96fa2a87387fe1e75/PhysicsTools/Na

[2019-09-11 12:37] peruzzim commented on #350
Let's revive this proposal, as we're going to touch the nanoSequence also for other reasons.
Is there a concrete interest from GEN to use this centrally? We should define additional data tiers only if it's really needed.

@agrohsje @qliphy

[2019-09-11 12:52] peruzzim commented on #332
any news on this?

[2019-09-11 13:29] forthommel commented on #332
Thanks for the 'ping', @peruzzim !
FYI the developments are currently handled by @juwillia

[2019-09-11 13:42] antoniovilela commented on #332
The development is mostly done and Justin was organizing the PR.

On Wed, Sep 11, 2019 at 10:30 Laurent Forthomme <notifications@github.com>
wrote:

--
/**************************************************
Antonio Vilela Pereira
Antonio.Vilela.Pereira@cern.ch
Universidade do Estado do Rio de Janeiro (UERJ)
At CERN: +41 22 76 74949 / 77686
**************************************************/

[2019-09-12 09:06] jan-kaspar commented on #332
@peruzzim We'd like to ask for a clarification. We are following the NanoAOD TWiki:
https://twiki.cern.ctwiki/bin/view/CMSPublic/WorkBookNanoAODh
which proposes to make a PR towards cms-nanoAOD:master-102X. Is this still up-to-date? I see that there are also 10_6 and 11_0 branches in cms-nanoAOD. Alternatively, can we make the PR directly to cms-sw/cmssw (we originally prepared it in this way)? Th

[2019-09-12 12:37] scodella commented on #389
I made a quick comparison between a file from randomized parameter scan dataset [1] and one from a lhe producer based dataset [2], and seems that indeed the  GenLumiInfoHeader::configDescription() can discriminate the two cases. Could be used instead of [3].

It seems also that GenLumiInfoHeader::weightNames() might contains the information on the event weight names used for the randomized paramet

[2019-09-19 07:58] arizzi commented on #381
not sure what is the conclusion here
@agrohsje  I'm not sure I understand from your last message how it clarifies what we need to use.
@kpedro88 while fix it for next campaigns, we have to handle existing MC samples and we may want to fix it for next nano processing.

I'd suggest in nanoaod to always divide by weight[0] aka weight() aka genWeight() rather than originalXWGTUP ... any reason not to

[2019-09-20 22:08] kdlong commented on #381
First I have to say I'm still totally confused by what is stored in NanoAOD in many cases, and also in what the optimal storage would be for the PS weights. @agrohsje did we ever discuss this in a GEN meeting?

@arizzi, the approach we're working on (@kpedro88, me, @dteague) is to add a new GenWeightProduct/GenWeightInfoProduct to the event that contain the metaInfo about the weights, parsed from

[2019-09-21 06:14] arizzi commented on #381
it doesn't necessarily  need to be per event in nanoaod as nanoaod also have the run branch... on the other hand if 90% of the analysis are going to use the events in the same N ways we can just make easy to to so (e.g. if most of the analysis just use the various weights to compute central values, ISR/FSR up/dow, PDF up/down, Ren/Fact up/down let's be sure that it is easy to compute those variati

[2019-09-21 12:43] kdlong commented on #381
@arizzi right, you don't need ID per event. That's why we propose restructuring the even information. In order to do this, you need to process each event (such that std::vector<WeightsInfo> --> std::vector<float> from the exisiting GenInfoProduct to the proposed GenWeightInfoProduct. At GEN you're processing the info from the LHE anyway, so you can fill whatever format you like. As a producer runn

[2019-09-21 13:52] arizzi commented on #381
NB: in nanoaod, what is what, is written in the doc string

[2019-09-21 14:53] kdlong commented on #381
For the LHE/Gen weights in particular I find the doc string pretty far from self explanatory and had to dig into the code to find which sets are stored and how that's chosen.

[2019-09-21 15:09] kdlong commented on #381
Ok maybe that's an overstatement, the doc string itself is clear, but how the information is chosen and whether it's correct is not.

[2019-09-24 14:12] peruzzim commented on #350
any news on this? can you please comment, maybe better via mail rather than here, so we can follow up with all stakeholders? thank you

[2019-09-25 12:17] qliphy commented on #350
Sorry for being late and thanks @peruzzim.   I saw you already posted on [gen hn](
https://hypernews.cern.ch/HyperNews/CMS/get/generators/4480.html).  Let's hear more comments and discuss there.    As from GEN, we can arrange some discussions at next GEN meetings, e.g. [Oct 1st](https://indico.cern.ch/event/841562/), if it is not too late.   Anyone is able to give a report there?

BTW:  If the pla

[2019-10-01 23:40] peruzzim commented on #389
A first, untested skeleton of a possible implementation is here: https://github.com/cms-nanoAOD/cmssw/compare/master-102X...peruzzim:dev_LHEweightsFromGenInfo_102X
but we should investigate whether `GenLumiInfoHeader::lheHeaders()` also contains useful information, and whether this format is general enough to work for all samples.

let's also get @kdlong @agrohsje @qliphy in the loop here

[2019-10-02 17:27] scodella commented on #389
Hi,

I tested the new code on [1] but I get the following exception:
  Called CounterMap::get() before setting the active label
It seems that in setLabel the active_el varibles is not well set. The label passed in the faction is "T2tt-3J_175_10". Do you see what is wrong?

[1] /store/mc/RunIISummer16MiniAODv3/SMS-T2tt_3J_xqcut-20_top-corridor_2Lfilter_TuneCUETP8M2T4_13TeV-madgraphMLM-pythia8/MINIA

[2019-10-02 21:08] peruzzim commented on #389
Yes, a mistake in accessing the new data structure, should be fixed now. Could you please test it in more details? I think there are still things to be fixed e.g. in branch titles...

[2019-10-03 08:09] scodella commented on #389
I had to change "counterMap->setLabel(label);" for "counterMap.setLabel(label);"
After that, the label passed in the function changes to "T2tt_3J_175_10", but then I get the same exception

[2019-10-03 09:03] scodella commented on #389
thanks, now it runs fine. I have the scale weights in the output file when running over [1]. PDF weights are empty, but that must be because of the choice of the pdf set to store. I will do some more extensive test.

[1]  /store/mc/RunIISummer16MiniAODv3/SMS-T2tt_3J_xqcut-20_top-corridor_2Lfilter_TuneCUETP8M2T4_13TeV-madgraphMLM-pythia8/MINIAODSIM/PUMoriond17_pdfweight_94X_mcRun2_asymptotic_v3-v1/

[2019-10-03 10:41] scodella commented on #389
ok, I can fill PDF weights by changing scalew to pdfw in:
https://github.com/peruzzim/cmssw/blob/920412ca544dd0b0c72bc9c5e3745a4858bc0306/PhysicsTools/NanoAOD/plugins/GenWeightsTableProducer.cc#L685

I will test what we are actually saving, want to be sure the choice we make is flexible enough for all the datasets.

[2019-10-03 12:45] GonzalezFJR opened #409 "Mass in gen partilces needed for SUSY particles for m <= 10 GeV"
The mass of gen SUSY particles is needed also for m <= 10 GeV. In particular, I cannot distinguish between neutralinos with m = 1 GeV and m = 10 GeV in my SUSY T2tt scan.

https://github.com/cms-nanoAOD/cmssw/blob/9e97a8fb55d9fc3f0d168b36e375f9e7d342fcb4/PhysicsTools/NanoAOD/python/genparticles_cff.py#L44

[2019-10-03 13:03] gpetruc commented on #409
Could you make a PR to save the mass also for BSM particles (should be `abs(pdgId) > 1000000`, I think, but please check...)

[2019-10-03 13:59] scodella commented on #389
So after studying a bit the PDF weights that are  stored, it seems that they correspond to the first PDF set available in the input file out of the list (taken in inverse order) defined in
https://github.com/peruzzim/cmssw/blob/920412ca544dd0b0c72bc9c5e3745a4858bc0306/PhysicsTools/NanoAOD/python/nano_cff.py#L100-L105
so for example for the file I am testing, this will be "NNPDF30_nlo_nf_5_pdfas".

[2019-10-03 14:36] kdlong commented on #389
Wouldn't it be cleaner and easier to access the weight names from genLumiInfoHead->weightNames()? This is what is done for the PS weights in Rivet: https://github.com/cms-sw/cmssw/blob/master/GeneratorInterface/RivetInterface/plugins/RivetAnalyzer.cc#L102-L105

I checked for this file, and the weight info is stored, basically you could use the same regex without the xml tags. If you want to take a

[2019-10-03 14:38] kdlong commented on #389
Oh I see this comment was already made by @scodella... is there an issue?

[2019-10-03 15:17] kdlong commented on #389
@scodella do you know of a SUS request that uses the parameter scan setup and also includes PS weights? I'm interested in how the GenLumiInfoHeader::weightNames() behaves in this case.

[2019-10-03 15:24] peruzzim commented on #389
Ok, this is progressing more actively than I expected. I had intended this code just as an example to show how to treat these weights.
Would you will to take my commits, add the needed fixes on top in a branch of yours, and prepare a pull request?

[2019-10-03 15:25] peruzzim commented on #409
Yes that's the way to go, please do this PR on top of the master-cmsswmaster branch. Thanks!

[2019-10-03 16:17] scodella commented on #389
@kdlong see for instance this dataset:
/SMS-TChiWZ_ZToLL_mZMin-0p1_mC1-325to1000_TuneCP2_13TeV-madgraphMLM-pythia8/RunIIAutumn18MiniAOD-GridpackScan_102X_upgrade2018_realistic_v15-v1/MINIAODSIM

[2019-10-04 08:55] gouskos opened #411 "Secondary vertices: store additional variables and relax preselection"
Store two additional variables: dxy and dxySignificance
relax preselection on d3Dsig from 3 sigma to 1 sigma

These are necessary for soft b-tagging algorithm used in many susy and Higgs analyses, but also for the calibration of some of the DeepAK8 score.

I will make a PR now with the changes.

[2019-10-07 09:04] peruzzim commented on #411
additional variables implemented in #412, looser preselection is rather for a dedicated calibration workflow

[2019-10-07 09:04] #411 closed, assigned to nobody

[2019-10-07 09:14] #384 closed, assigned to nobody

[2019-10-07 09:14] #409 closed, assigned to nobody

[2019-10-07 09:14] peruzzim commented on #409
fixed in #415

[2019-10-07 09:15] peruzzim commented on #397
has this been further investigated?

[2019-10-07 09:28] shane-breeze commented on #397
Sorry, I was busy and managed to miss your original reply. I haven't looked into this any further. I will try to look into it when I have some time, but this isn't high on my priority list right now

[2019-10-07 11:39] #278 closed, assigned to nobody

[2019-10-08 12:24] pgunnell commented on #350
I think the implementation in  central production is quite straightforward. We just need an additional flow.

[2019-10-09 09:29] peruzzim opened #422 "Split concepts of miniAOD version and year for UL in era modifiers"
Currently, we improperly use modifiers such as `run2_nanoAOD_94XMiniAODv2` to encode two concepts:

- the dataset refers to year 2017
- the miniAOD version is 94Xv2

With the UL, we have a miniAOD version for more than one year.
This can lead to mistakes in the configuration, i.e. running with `Run2_2017` era alone will not activate customizations that are linked to 2017 conditions - and not to a

[2019-10-09 09:29] peruzzim opened #423 "Update 2018 jet ID to SUMMER18 working point"

[2019-10-10 09:46] andreypz opened #427 "ImportError: No module named MuonFSRProducer_cfi"
Hello,

I'd like to contibute to NanoAOD, so I set-up a fresh release, with following:
[code]

Then I run cmsdriver command:
[code]
but it gives me an error:

What am I missing?

[2019-10-10 10:16] arizzi commented on #427
this was due to a request from RECO conveners to put a lower case "M" in the MuonFSRProducer and MuonFSRAssociator

I guess marco will fix this side effect today, but if you want to quickly continue just change the capital M in lower case m

[2019-10-10 10:28] andreypz commented on #427
Ok, I see... But just changing the name does not work.
In fact, this FSR .cfi file does not exist here:
https://github.com/cms-sw/cmssw/tree/master/MuonAnalysis/MuonAssociators/python
Perhaps I need to merge some other topic for this?

[2019-10-10 10:30] arizzi commented on #427
the cfi file is autogenerated in your crab area under cfipython (one level below the root /src )

the lowercase "m" is both for the cfi name and the module name

[2019-10-10 10:31] arizzi commented on #427
see here for the fix https://github.com/cms-sw/cmssw/pull/28122/commits/34f6c30520fdef723945d7fbe8bb635c1b703506

[2019-10-10 10:42] andreypz commented on #427
Hmm... Still does not work...
I don't see the file under cfipython either.
Here is all I have there:
[code]
I tried to re-run `scram b` after changing the 'm' letter - such file still does not appear.

[2019-10-10 11:50] arizzi commented on #427
it should be under  MuonAnalysis.MuonAssociators not under PhysicsTools/NanoAOD

At this point I suspect you have a coherent capital "M"  setup but for some reason the sparse-checkout of git does not include MuonAnalysis/MuonAssociators

so edit .git/info/sparse-checkout and add MuonAnalysis/MuonAssociators
then git checkout -- MuonAnalysis

(then perhaps you need to rever to uppercase M)

[2019-10-10 12:04] andreypz commented on #427
Indeed, the ` MuonAnalysis.MuonAssociators ` was not checked out.
However, editing `sparse-checkout`  file and doing  `git checkout -- MuonAnalysis` did not work.
Instead, I checked out the package with `git cms-addpkg MuonAnalysis/MuonAssociators`. That worked, and it compiled. However, after compilation there is no cfi file... In fact, the directory `cfipython/slc7_amd64_gcc700/MuonAnalysis/Muon

[2019-10-10 12:07] peruzzim commented on #427
please follow the temporary instructions here
https://twiki.cern.ch/twiki/bin/view/CMSPublic/WorkBookNanoAOD#Recipe_for_the_current_HEAD_of_N

there are a couple of merge-topic needed

[2019-10-10 12:08] arizzi commented on #427
can you verify that under "plugins" the MuonFSRAssociator and producer exists?  I guess not... ok just seen Marco post .. so take his full recipe :-)

[2019-10-10 12:28] andreypz commented on #427
Ok, with additional merge-topics this works.
However, it says on the twiki not to commit to nanoAOD repo with these. But that's exactly what I want to do. So, should I do that anyway, or should I wait till everything is merged (how long)?

[2019-10-10 12:52] bartokm opened #428 "FatJet - GenJetAK8 matching"
There is no variable for matched GenJetAK8 in FatJet, similarly like Jet_genJetIdx in AK4 jets.
This information would be needed if one would like to calculate b-tagging SFs for AK8 jets.
Alternatively a FatJet_hadronFlavour variable could be added, which is actually needed for the SFs.

[2019-10-10 14:55] peruzzim commented on #427
It means that, if you open a PR to this repository for a new feature, you should please rebase it on the current masteer of this repo, without including the commits added by the merge-topic in it.

I close this issue as it's fixed.

[2019-10-10 14:55] #427 closed, assigned to nobody

[2019-10-10 14:56] peruzzim commented on #423
done in #424 and backports

[2019-10-10 14:56] #423 closed, assigned to nobody

[2019-10-10 15:46] andreypz opened #429 "c-jet energy regression variable"
We would like to include energy regression for charm jets, similar to the one used for b-jets.
The relevant PR will be created soon, for 2017 regression training.

Here I would like to ask a few questions to @arizzi @michelif @chernyavskaya @leonardogiannini regarding b-jet regression implementation:
1. How is the regression switched between different years?
I see that here
https://github.com/cms-

[2019-10-11 15:43] andreypz opened #432 "Update b-jet energy regression with latest weights"
The energy regression in NanoAOD is not up-to-date.
It should be updated with the latest weights, described here:
https://twiki.cern.ch/twiki/bin/viewauth/CMS/HiggsWG/BJetRegression#Reccomendation_for_13_Main_TeV_d
Hopefully, this should be done before next Nano production campaign.
I'm going to work on the PR for this.

[2019-10-11 15:50] arizzi commented on #432
I'm afraid NanoV6 train already left...request for update was sent out in June ...

[2019-10-11 16:15] andreypz commented on #432
Ok, well, then we'll wait for the next train...

[2019-10-14 07:12] sethcooper opened #434 "Implement trigger object matching for HLT_Ele*_CaloIdVT_GsfTrkIdT* paths"
No trigger object matching is currently available for electron CaloIdVT_GsfTrkIdT paths.  To fix this, a quality bit like the following should be added to the electron trigger objects:
`"2048*filter('hltEle*CaloIdVTGsfTrkIdTGsfDphiFilter')"`

[2019-10-14 15:50] sethcooper commented on #434
Hi,

I see that the selections80X at least for electrons have significantly fewer qualityBits than the nominal selection qualityBits. Can these not be kept in sync with the nominal selection qualityBits, or is it just a matter of validating all the filter names with the 2016 HLT?  It seems like it would be good to keep the same bit definitions throughout eras if possible, in which case I can't sim

[2019-10-14 16:35] scodella commented on #389
I uploaded my version of the code in https://github.com/cms-nanoAOD/cmssw/compare/master-102X...scodella:dev_LHEweightsFromGenInfo_102X
With respect to Marco's code, a part of few fixes, I added the PS weights [1], mimicking what is done in the code working for LHEproducer (who needs anyway a fix [2]), and inverted the loops on the preffered PDF sets and the GenInfo PDF sets [3], so that we store

[2019-10-15 09:59] swertz commented on #381
What is the status of this? Going through this thread there is quite some confusion as to what weights should be used...

Is it correct to:
- use `genWeight` to fill the nominal histograms
- use `genWeight * altWeight[i]` for the variations (where `altWeight` is any of `LHEScaleWeight`, `LHEPdfWeight`, `PSWeight`)

[2019-10-16 01:35] ktht opened #436 "MET filter branches duplicated"
As the title says, the MET filter branches occur twice in the Events TTree. Here's the test script:
[code]

And here's an example output:
[code]
The problem *seems* to be present only in 2016 data and 2017 data.

[2019-10-16 01:43] ktht opened #437 "New b-tagging SFs available"
DeepCSV is old & DeepFlavor is available:
https://github.com/cms-nanoAOD/cmssw/blob/2d621cab1f8493a580a5cd4744530e075afe3c82/PhysicsTools/NanoAOD/python/nano_cff.py#L73-L76
Plus, there are SFs for all three eras now.

[2019-10-17 09:28] peruzzim commented on #422
fixed in #435

[2019-10-17 09:28] #422 closed, assigned to peruzzim

[2019-10-18 14:16] scodella commented on #389
I just submitted a PR:
https://github.com/cms-nanoAOD/cmssw/pull/441

[2019-10-18 14:34] capalmer85 commented on #432
Has V6 production started?

[2019-10-18 14:49] arizzi commented on #432
I let @peruzzim comment for the details, but currently even the nano productions are undergoing full validations as standard campaigns (this will be reviewed in the future). So AFAIK nanoV6 is about to be launched after full validation is finished.

[2019-10-23 12:00] arizzi commented on #437
btw it is also outdated for 2018, creating SF of average value ~1.08 that are completely different wrt the actual values

[2019-10-28 12:02] gkaratha opened #444 "running a module with python binding, fails due to std::TTreeReaderArray<float> (?)"
Dear experts,

I face this very strange error [*] which does not seem to come from my code. I have a code that reads genParticles and sorts them according to their mother so to have the whole chain[**]. For that I use c++ worker with a python binding. The code was working fine up to thursday but since tomorrow while the code compiles it fails when i run nanopy command. So I started to make several

[2019-10-28 12:04] peruzzim commented on #444
please reopen in cms-nanoAOD/nanoAOD-tools

[2019-10-28 12:04] #444 closed, assigned to nobody

[2019-11-05 09:39] peruzzim commented on #432
#433

[2019-11-05 09:39] #432 closed, assigned to nobody

[2019-11-05 09:39] peruzzim commented on #437
@ktht could you please take care of updating them and opening a PR?

[2019-11-05 09:45] peruzzim commented on #434
If you have expertise on this topic, it would be extremely valuable to have a look at all years and try to uniformize the bits. Maybe it will not be possible to do it fully, but maybe we can improve over the current situation, trying to change minimally the current setup for 2017/2018. The differences you see are indeed due to the fact that the path names are different in different menus.
Would yo

[2019-11-05 09:54] andreypz commented on #429
It was confirmed that the b-jet energy regression was not up-to-date in cmssw. A corresponding issue #432 and PR #433 were created to update those weights. At this point it has been merged.

Regarding c-jet regression of this issue, a PR #430 is to be merged (only using weights trained for on 2017 samples, and applied to all years).

[2019-11-06 17:34] sethcooper commented on #434
Hi @peruzzim ,

I wouldn't say I'm an "expert" but in any case, it depends on how much detail is required in the checks.  I'm considering the electron quality bits only here.  I had a bit of time to look at a single HLT menu from 2016.

The first 3 quality bits in fact use the same regex's for 2016 and 2017/2018.  For the 4th quality bit, the regex's are slightly different between 2016 and 2017-20

[2019-11-13 08:35] peruzzim opened #450 "add MET sumPt to NanoAOD content"
to be able to recalculate MET significance on NanoAOD
needs to have this variable saved by the upstream producer cms-sw#28370

keeping track of #443 @llechner

[2019-11-14 13:24] #429 closed, assigned to nobody

[2019-11-15 15:23] peruzzim opened #452 "Update Higgs STXS to stage 1.2"
... when available cms-sw#28444 and backports

[2019-11-27 09:54] #434 closed, assigned to nobody

[2019-11-27 14:02] peruzzim commented on #428
done in #456

[2019-11-27 14:02] #428 closed, assigned to nobody

[2019-11-29 10:08] sethcooper opened #457 "Add storage of supercluster energy to electrons"
The unregressed (and uncorrected) supercluster energy is an important variable for electron scale factors, fake rates, etc. Propose to add this to the electron object.

[2019-12-03 09:50] adewit commented on #452
It's now merged; I can provide the relevant nanoAOD modifications shortly

[2019-12-04 11:22] amagnan opened #460 "Electrons are not pT ordered"
Checked in data, for example this file, root://gfe02.grid.hep.ph.ic.ac.uk:1097//store/user/ebhal/CHIP_skim_data_2018_for_sync_20191128/EGamma/crab_EGamma_Run2018C-Nano1June2019-v1/191128_181304/0000/tree_51.root

When printing for example : Events->GetEntries("(nElectron==2) && (Electron_pt[0]<Electron_pt[1]) ");
(int) 939

As far as we checked, all other objects are rightly ordered by pT.

[2019-12-04 11:30] amagnan commented on #460
PS: checked also on "original" nanoAOD file, for example:
root://eoscms//eos/cms/store/data/Run2018C/EGamma/NANOAOD/Nano1June2019-v1/40000/F3767D14-375D-EC49-B17E-8C4A7A226628.root

[2019-12-04 15:13] ktht opened #461 "Save additional LHE level particles with status=+2"
For context, see: https://hypernews.cern.ch/HyperNews/CMS/get/generators/4553/2/1/1.html
Also, introduce the `LHEPart_status` attribute to distinguish LHE level particles with different statuses. I expect that the increase in file size is negligible, because there aren't that many LHE particles to begin with.
I can prepare a PR if there's any interest.

[2019-12-05 09:19] peruzzim commented on #460
@amagnan I think this is due to the fact that electrons are not re-ordered after applying the scales&smearings corrections.
It was a design choice in the beginning, to facilitate synchronization with workflows based on MiniAOD (keeping the same ordering in lepton collections), or one-by-one checks between subsequent NanoAOD versions.

We can consider changing this for the future, would this be bet

[2019-12-05 09:21] peruzzim commented on #457
We need to discuss this, what are the analysis-level corrections that have to be applied as a function of these variables?

[2019-12-05 09:29] peruzzim commented on #461
We could do this, but it really looks like a hack to get information from an old GEN setup.
It would not be nice to add a variable that is going to be fully redundant from now on, so it could be added under the appropriate modifier to only activate it where needed (2016 samples?).

Can you please investigate with GEN if this is indeed something we do not have anymore in recent samples? Is there a

[2019-12-05 10:34] sethcooper commented on #457
HLT scale factors, for example (IIUC HLT uses supercluster Et).  Also, fake rates (using loose electron IDs) have been affected at least in the past by regression issues and would typically use supercluster Et.

I suppose one could alternatively add the ratio of SCEt/Pt (similar to the ECorr).

[2019-12-05 15:23] arizzi opened #462 "Add muon dxy vs beamspot"
I will send a PR in the next days

[2019-12-05 16:37] amagnan commented on #460
@peruzzim thanks a lot for your reply. Yes I think it would make much more sense to have them pT-ordered, as other objects are (jets, muons). I do not understand your argument about merging electrons and muons: from my experience very few analyses would do that ...?!?

[2019-12-10 12:08] peruzzim opened #463 "Remove underscore from some run branches"

[2019-12-13 11:42] kdlong commented on #350
I'm not sure if this was working for you @nsmith-, but I've been looking at it and made a few modifications, some which were necessary to run (for a variety of setups), and others just to be cleaner

-- Issue I can't get around: I can't get the genMet to work. As far as I can tell, just changing process.metMCTable.src = cms.InputTag("genMetTrue") doesn't work because the slimmedMETs has a vector o

[2019-12-16 15:29] fravera opened #465 "Trigger Object Triple b-tag triggers for Run 2"
Good morning,
I would like to include  in the trigger objects for the Jets the filter used for the triple b-tag HLTs of Run2:

HLT_QuadJet45_TripleBTagCSV (Run2016)
HLT_DoubleJet90_Double30_TripleBTagCSV (Run2016)
HLT_HT300PT30_QuadJet_75_60_45_40_TripeCSV_p07_v3 (Run2017B)
HLT_PFHT300PT30_QuadPFJet_75_60_45_40_TriplePFBTagCSV_3p0_v3 (Run2017CDEF)
HLT_PFHT330PT30_QuadPFJet_75_60_45_40_TriplePFBTag

[2019-12-16 15:35] peruzzim commented on #465
please do a
`git clone https://github.com/cms-nanoAOD/PhysicsTools-NanoAOD.git $CMSSW_BASE/external/$SCRAM_ARCH/data/PhysicsTools/NanoAOD/data`
and recompile

(updating the workbook now)

[2019-12-16 17:17] guitargeek commented on #350
Hi Kenneth! Indirectly via Philip and you I learned of the possibility or creating nanos from raw GEN and this would be perfect for us. So your MET problem was now my problem too... Maybe you solved it in the meantime, but here is what I did: just reset the variables which the `metMCTable` fills into it columns (remember before it was `genMET.pt` and `genMET.phi`):
[code]
To get the `Var` class, i

[2019-12-16 18:18] kdlong commented on #350
Thanks Jonas, this works for me!

What CMSSW are you using? The Rivet producer works for me in CMSSW_10_2_X (tried X > 15)

[2019-12-16 19:27] guitargeek commented on #350
Yes you are right, it was the version. I used 10_2_3 which didn't include these plugins yet. Cool, so now everything works!

[2019-12-17 06:15] nsmith- commented on #350
I think I just dropped genMet because for my purposes I didn't need it and it was not playing nicely.  Seems you've figured it out.  I also ran the NANOGEN in a separate step with something in the 10_2_X branch.

[2019-12-17 10:01] pieterdavid opened #466 "HTML documentation for NanoAOD versions used in central production"
The HTML pages that list the contents of the NanoAODs for the different branches, e.g. https://cms-nanoaod-integration.web.cern.ch/integration/master-102X/mc94X2016_doc.html , are very useful, but they track a branch (e.g. 10_6_X, master) or a specific PR.
Would it be possible to also have them for the versions of the code that were used in production, e.g. https://cms-nanoaod-integration.web.cern

[2019-12-17 17:19] guitargeek commented on #350
Cool, thanks Nick for this very valuable insight that something like NanoGEN can be produced!

[2019-12-19 10:54] andreypz opened #468 "Add charm-jet energy regression for 2016 and 2018"
At the moment only regression in 2017 is available for charm-jets.
We will add regressions for 2016 and 2018 soon.

If there is a new NanoAOD production planned  please hold it until we add these (hopefully before christmass).

[2019-12-30 16:13] ktht opened #471 "HLT bits not set to zero if paths dropped mid-production"
If the list of HLT paths are updated (upon change in the run number) and some of the paths are dropped during the Ntuple production, the "old" paths are not kept on track anymore. This is fine, as long as the bits on the old paths are set to 0, but that's not the case at the moment.

Example on how to reproduce the problem:
1. process event `275310:62:117615896`, then event `274440:150:142840127`:

[2020-01-08 09:21] #468 closed, assigned to nobody

[2020-01-09 13:06] peruzzim commented on #434
@sethcooper @IzaakWN I notice - only now, preparing backports - that #455 later modified the filter from `hltEle*CaloIdVTGsfTrkIdTGsfDphiFilter` to `hltEle*CaloIdVTGsfTrkIdTGsf*Filter`

can you confirm this is ok?

[2020-01-09 13:23] IzaakWN commented on #434
It should be OK, as far as I can tell by [checking trigger filter patterns](https://github.com/IzaakWN/TriggerChecks/blob/4de3f8c83499a09621f4a3e72a1bc72a82de791c/output/triggers_SingleElectron.log#L733-L794), the only matches for the last wildcard in `hltEle*CaloIdVTGsfTrkIdTGsf*Filter` are `Dphi` or `Deta`. Our targeted single electron trigger always have both, and the last filter always has `Dp

[2020-01-09 13:29] sethcooper commented on #434
@IzaakWN How does one know that the matched objects passed the `Dphi` filter (the last filter as you mentioned) and not only the `Deta` filter?

[2020-01-09 14:25] IzaakWN commented on #434
Sorry, maybe I misunderstand your question, and I am also no trigger expert by any means, but as far as I can tell from the checks in the trigger menu, a trigger object of e.g. `HLT_Ele115_CaloIdVT_GsfTrkIdT` always passes both `hltEle115CaloIdVTGsfTrkIdTGsfDetaFilter` _and_ `hltEle115CaloIdVTGsfTrkIdTGsfDphiFilter`.

Even still, if an object would pass only one of the two–which shouldn't happen,

[2020-01-09 14:51] sethcooper commented on #434
Thanks.  I probably just missed it in the menu, but I'm just not seeing why the trigger object should always pass both `Deta` and `Dphi` filters.

[2020-01-09 15:31] IzaakWN commented on #434
The way I check the filters in the Run-II trigger menus was with [this script](https://github.com/IzaakWN/TriggerChecks#list-filters), and it finds all the available module (filters and producers) with [this line](https://github.com/IzaakWN/TriggerChecks/blob/ff6ca4d81f0417e99a51add261e2454585824232/plugins/CheckTriggers.cc#L134).
With this script, I have printed out all triggers in Run-II data an

[2020-01-09 17:44] sethcooper commented on #434
Maybe I'm still missing something.  Here's an example that hopefully better illustrates my point:
1. An object `o1` passes the `dEta` filter. Because `saveTags = True`, it is saved in the event, and then during Nano production the wildcard pattern matches it and it gets stored in NanoAOD.
2. The same object `o1` then fails the `dPhi` (last) filter.
3. A second object `o2` passes both `dEta` and `d

[2020-01-09 19:24] IzaakWN commented on #434
Finally see what you mean... Apologies.

My implicit assumption was that object `o1` in your example trigger was not saved in miniAOD, or that those flags are not saved. Can every (electron) trigger object, even those corresponding to other triggers than we are targeting here, have these filters saved in their list if they pass it, even if it's part of a dead end? If so, we should replace the wild

[2020-01-09 20:08] sethcooper commented on #434
OK, glad we're on the same page.

As far as I know, `saveTags = True` means that the trigger objects passing that filter will be saved in the event. I think I looked at some other regex's before to see that they were matching last filters only, but that could be checked again.

[2020-01-09 20:20] IzaakWN commented on #434
I don't know about `saveTags`, but from the code it does looks like the filter matching looks at any filter that is saved in the filter list of a trigger object, not just the last one: The pattern matching we are using for the nanoAOD filter bits uses [`TriggerObjectStandAlone::filter`](https://github.com/cms-sw/cmssw/blob/master/DataFormats/PatCandidates/interface/TriggerObjectStandAlone.h#L175),

[2020-01-10 08:55] #471 closed, assigned to nobody

[2020-01-10 08:59] peruzzim commented on #452
#459 and backports

[2020-01-10 08:59] #452 closed, assigned to nobody

[2020-01-10 10:13] peruzzim commented on #450
cms-sw#28370 has been merged and backported upstream, please propose a PR to NanoAOD if it is still relevant to add this variable

[2020-01-10 10:14] peruzzim commented on #450
@llechner @danbarto @ahinzmann @lathomas

[2020-01-10 10:20] #463 closed, assigned to nobody

[2020-01-10 10:20] #349 closed, assigned to nobody

[2020-01-10 10:24] peruzzim commented on #434
please cross-check that https://github.com/cms-nanoAOD/cmssw/pull/478/commits/d4547df66329465c8b033751c104b1896dae63a0 does what you have agreed to be the right thing

[2020-01-10 11:04] IzaakWN commented on #434
Yes, that looks to be correct. Thanks for the fix!

[2020-01-17 20:44] dntaylor opened #482 "Keep more BSM gen particle masses"
Can the list of gen particle masses kept here:
https://github.com/cms-nanoAOD/cmssw/blob/master-cmsswmaster/PhysicsTools/NanoAOD/python/genparticles_cff.py#L44
be increased to include particles in the range: `(abs(pdgId)>6 && abs(pdgId)<11) || (abs(pdgId)>16 && abs(pdgId)<21) || (abs(pdgId)>24 & abs(pdgId)<81)`?

This includes some BSM particles which may be low mass (for example, a low mass higgs

[2020-01-17 20:46] dntaylor commented on #482
Also, perhaps a better way to do this would be to make a list of what to set to 0, rather than the other way around. i.e. a specific list of leptons, pion, kaon, etc.

[2020-01-17 20:48] nsmith- opened #483 "GenPart mass"
As @dntaylor pointed out in https://github.com/CoffeaTeam/coffea/issues/252 the GenPart_mass is zeroed for almost all particles with `pdg < 1000000`:
https://github.com/cms-nanoAOD/cmssw/blob/master-cmsswmaster/PhysicsTools/NanoAOD/python/genparticles_cff.py#L44

That's odd, what if someone wants to know what their super light Z' (32) or DM particle (51-53) mass is?  Sure it might be in the sample

[2020-01-17 20:58] nsmith- commented on #483
In a semileptonic ttbar sample from v6, the first 40 abs(pdg) account for 99.5% of the saved particles.

abspdg | count | frac
 -- | -- | --
21 | 5132878 | 0.187228
5 | 2177222 | 0.266644
11 | 2156068 | 0.345290
6 | 2070464 | 0.420812
24 | 1874716 | 0.489195
2 | 1283407 | 0.536008
22 | 1232330 | 0.580959
421 | 1165374 | 0.623467
1 | 1126924 | 0.664573
3 | 871381 | 0.696358
4 | 696062 | 0.721748
11

[2020-01-17 21:15] dntaylor commented on #482
Closing in favor of #483

[2020-01-17 21:15] #482 closed, assigned to nobody

[2020-01-17 21:17] dntaylor commented on #483
I've closed the issue I created. I'll just mention what I posted there.
If the decision is not made to switch to explicit exclusion rather than explicit inclusion, adding the following will work for my use case:

`(abs(pdgId)>6 && abs(pdgId)<11) || (abs(pdgId)>16 && abs(pdgId)<21) || (abs(pdgId)>22 & abs(pdgId)<81)`

[2020-01-20 00:20] nsmith- commented on #483
I ran a NanoAOD producer over 10k events of another dataset (`ZJetsToQQ_HT600to800`) with all mass filters disabled, and then checked the LZMA-9 compression ratio after zeroing progressively more particles.  Zeroing the top 20 `|pdg|` already led to a compression ratio better than the nominal scheme (`0.093`), somehow.  The list would be:

 abspdg | count | frac | ratio | name | nominalmass
 -- |

[2020-01-22 09:37] arizzi commented on #462
#479 does it

[2020-01-22 09:37] #462 closed, assigned to nobody

[2020-01-23 09:28] andreypz opened #486 "GenVisTau_genPartIdxMother does not correspond to the real mother"
Hello,
I am looking at **H->tautau** events in [this file](https://cmsweb.cern.ch/das/request?view=list&limit=50&instance=prod%2Fglobal&input=file+file%3D%2Fstore%2Fmc%2FRunIIFall17NanoAODv5%2FZHToTauTau_M125_13TeV_powheg_pythia8%2FNANOAODSIM%2FPU2017_12Apr2018_Nano1June2019_102X_mc2017_realistic_v7-v1%2F40000%2FF1048FBC-1E3C-B041-92CE-C563322C9D93.root).
It seems to me that `GenVisTau_genPartIdxM

[2020-01-23 09:42] andreypz opened #487 "How does precision work?"
Hello,

Could someone please clarify how **precision** feature works in NanoAOD.
For example, let's say we have two variables `a=123456789.123456789` and `b=1.23456789123456789` and precision to save them is '10'. What numbers would be saved for `a` and `b`?

[2020-01-23 20:21] kdlong commented on #350
Starting from Jonas' config, a working cmsDriver implementation is in fact quite simple:
https://github.com/kdlong/cmssw/blob/NanoGenWithWeights/PhysicsTools/NanoAOD/python/nanogen_cff.py
https://github.com/kdlong/cmssw/commit/a2912ec22d2685d674007d9cbfa88077dffb7dd4

This is built on top of the gen weights stuff I've been slowly converging on but could be trivially made to work with the current N

[2020-01-25 18:00] peruzzim opened #488 "Add di-muon vertex refit information"
@gkaratha please open the relevant PR

[2020-01-25 18:04] peruzzim opened #489 "Fix normalization of weight sums in multi-job production tasks"

[2020-01-25 18:13] peruzzim commented on #94
fixed in #478

[2020-01-25 18:13] #94 closed

[2020-01-25 18:14] #148 closed

[2020-01-25 18:14] #138 closed

[2020-01-25 18:20] #436 closed, assigned to nobody

[2020-01-26 20:47] gkaratha commented on #488
Dear Marco,

Thanks for reminder and many sorry for the delay. I opened it here: https://github.com/cms-nanoAOD/cmssw/pull/490
Thanks and sorry again.

Best,
George

[2020-01-29 13:30] #450 closed, assigned to nobody

[2020-01-29 17:31] #489 closed, assigned to nobody

[2020-01-29 18:00] ktht commented on #437
Sorry, forgot about this thread. I can update them, however, it seems that there are separate b-tagging SFs available for 2016 TuneCP5 samples ([link](https://twiki.cern.ch/twiki/bin/viewauth/CMS/BtagRecommendation2016Legacy)). The tune information should be accessible from the input files, but I'm not sure if it's worth the effort as it would also imply drastic changes in `BTagSFProducer` in orde

[2020-01-29 22:39] #457 closed, assigned to nobody

[2020-01-29 22:59] peruzzim opened #492 "Update jet PU ID to 2017 version"

[2020-01-30 12:47] nurfikri89 commented on #492
@peruzzim I will be making the PR for this but I am a bit unsure of the workflow here. So @alefisico had made a [PR](https://github.com/cms-sw/cmssw/pull/28827) in the main cms-sw/cmssw to update the pile up jet ID parameters with the 94X and 102X training. Should I wait for that PR to be merged first or should I just start making my PR from my [branch](https://github.com/nurfikri89/cmssw/blob/nan

[2020-01-30 15:07] peruzzim commented on #492
@nurfikri89 please open the PR to this repo with only nanoAOD-specific changes, I will add the PR to central CMSSW to the testing environment.

[2020-01-30 15:13] camclean commented on #492
Small comment: Can we change the note for the pileup ID flags [here ](https://github.com/nurfikri89/cmssw/blob/nano_pileupjet_add94X102Xtraining/PhysicsTools/NanoAOD/python/jets_cff.py#L219) to make it clear that these are only for 80X? E.g. " puId = Var("userInt('pileupJetId:fullId')",int,doc="Pileup ID flags with 80X training.")"

[2020-01-30 15:15] nurfikri89 commented on #492
@camclean I will make this change in my next commit.

[2020-01-30 15:15] camclean commented on #492
Thanks!

[2020-02-04 09:25] jrueb opened #495 "Mistaken use of pt instead of phi in JetCorrectionUncertainty"
I noticed the following line https://github.com/cms-nanoAOD/cmssw/blob/df7f0eed48ea04a2cb2e7487275c06e1ea076758/CondFormats/JetMETObjects/src/JetCorrectionUncertainty.cc#L124
It looks like it's supposed to push back phi (`result.push_back(mJetPhi);`) but instead it actually pushes pt. The pushing of pt is done already in the lines above it. Isn't this a mistake?

[2020-02-04 09:48] camclean commented on #492
@peruzzim Do you want three discriminators for each sample or an era-dependent discriminator?

[2020-02-04 14:48] peruzzim commented on #495
please report this in cms-sw/cmssw repository for JME to follow up, it's not a nanoAOD-specific issue

@lathomas @ahinzmann FYI

[2020-02-04 14:48] #495 closed, assigned to nobody

[2020-02-05 11:07] camclean commented on #492
Suggestion from @peruzzim:

Include 80X flags for each year.
Include only one set of discriminants per year using an era-dependent modifier (example [here](https://github.com/cms-sw/cmssw/blob/6399ee12ffb5414bcdf79f90b0938e4f04403246/PhysicsTools/NanoAOD/python/jets_cff.py#L75)):
- default 2018 config
- custom run2_jme_2016, run2_jme_2017

Changes to names and documentation:
**puId80XDisc** = Var(

[2020-02-05 12:26] nurfikri89 commented on #492
@camclean Got it. I will make the changes today.

[2020-02-10 16:23] adewit opened #499 "Vanilla CMSSW_11_0_0_pre13 nano sequence broken?"
Just using the instructions here: https://twiki.cern.ch/twiki/bin/view/CMSPublic/WorkBookNanoAOD#Recipe_for_the_current_HEAD_of_N for CMSSW_11_0_0_pre13, using this cmsDriver command `cmsDriver.py myNanoProdTestMC -s NANO --mc --eventcontent NANOAODSIM --datatier NANOAODSIM  --no_exec  --conditions 102X_upgrade2018_realistic_v15 --era Run2_2018,run2_nanoAOD_102Xv1 --customise_commands="process.add

[2020-02-10 16:30] peruzzim commented on #499
It's due to TAU moving the payloads for ID into the GT with the 11_0_X series, so you should use a 110X_something GT when running from that release (but note I don't think we have GTs in 110X for all years with latest JEC etc., to my knowledge).
I will close this issue as it's understood, please reopen if the problem persists.

[2020-02-10 16:30] #499 closed, assigned to nobody

[2020-02-11 11:22] andreypz opened #500 "Relationship between NanoAOD version and ntuple content"
I just found out experimentally that content of nanoAODv6 is different depending on the era:
- for 2016 samples the `110X` version is used
- for 2017 samples the `106X` version was used
I think this is not clear from the twiki or names of the sampled and it would be useful if this was more clearly documented.
Also, is there a plan to unify the content for all three years (if that's possible)? Apar

[2020-02-11 13:14] peruzzim commented on #500
which content are you referring to? all central productions of Run-2 samples were done in 10_2_X